[2020-05-12 17:12] zaleslaw opened #2 "Incorrect work of LogLoss function"
Exception in thread "main" java.lang.IllegalStateException: Tensor is not a scalar
for   it.compile(optimizer = SGD(LEARNING_RATE), loss = LossFunctions.LogLoss) in LeNetMnist example

[2020-06-09 08:14] zaleslaw opened #3 "Error during evalution in the example LeNetCifar10.kt"
Exception in thread "main" java.lang.IllegalArgumentException: buffer with 1536000 elements is not compatible with a Tensor with shape [1000, 32, 32, 3]
	at org.tensorflow.Tensor.incompatibleBuffer(Tensor.java:580)
	at org.tensorflow.Tensor.allocateForBuffer(Tensor.java:295)
	at org.tensorflow.Tensor.create(Tensor.java:188)
	at api.keras.Sequential.evaluate(Sequential.kt:382)
	at examples.keras.ci

[2020-07-18 16:20] zaleslaw opened #4 "The initializer name schema is violated by Zero and Ones ops"
If you will load a graph from Keras in hdf5 format it could keep Zeros or Ones as a default initializer for biases.
But the standard schema of loading weights via initializers names doesn't work well in this way. Should be used another initializer (maybe special) for handling this issue.

Name: Init_conv2d_25_conv2d_bias/Zero; Type: Const; Out #tensors:  1
Name: Init_conv2d_25_conv2d_bias/Fill; Ty

[2020-09-17 13:16] MKhalusova opened #5 "Klaxon dependency"
Setting up a dependency to org.jetbrains.kotlin.kotlin-dl:api:0.0.5 does not seem to be enough.
I got:
Could not find com.beust:klaxon:5.0.1.
Required by:
    project : > org.jetbrains.kotlin.kotlin-dl:api:0.0.5

Adding explicit dependency on klaxon helps. However, it's not ideal.

[2020-09-21 07:57] zaleslaw commented on #5
Great @MKhalusova will fix during bug-fix phase!

[2020-09-22 19:10] devcrocod opened #8 "Loss value returns NaN in LeNetMnistWithCustomCallbacks example"
When trained, the loss of each batch is NaN. This is also on test data. As a result, the accuracy is 0.098.
This does not happen on every run.

[2020-09-22 19:11] devcrocod commented on #8
Output:
[code]

[2020-10-02 08:53] zaleslaw commented on #4
Don't use Zeros/Ones/Constants as Initializers if you need model export/import. It acts wrong way and this situation is not handled yet.

[2020-10-22 09:24] zaleslaw commented on #8
@devcrocod Please, load and try a new version 0.0.9. This should be fixed.

[2020-10-22 12:31] devcrocod commented on #8
I get new exception:
[code]

[2020-10-22 12:36] zaleslaw commented on #8
That's great! Seems like the previous bug is fixed, but a new one is
created!

чт, 22 окт. 2020 г. в 15:32, Pavel Gorgulov <notifications@github.com>:

[2020-10-23 07:57] zaleslaw commented on #8
Hmm, looks like you've got new exception on another example, VGGMnist.kt (at examples.keras.mnist.VGGMnistKt.main(VGGMnist.kt:175)), not on LeNetMnistWithCustomCallbacks

Please, check, that LeNetMnistWithCustomCallbacks  has no problems during the run

[2020-10-30 11:55] zaleslaw commented on #5
@MKhalusova could you say, is it fixed now?

[2020-10-30 11:56] zaleslaw commented on #3
Fixed

[2020-10-30 11:56] #3 closed

[2020-10-30 13:09] MKhalusova commented on #5
@zaleslaw yes, it is. Thank you!

[2020-10-30 13:09] #5 closed

[2020-11-03 13:18] zaleslaw commented on #8
@devcrocod Сould you please update your project with 0.0.10 version and check on your machine that this issue is fixed

[2020-11-03 13:50] devcrocod commented on #8
LeNetMnistWithCustomCallbacks and VGGMnist run without exception. Loss function in LeNetMnistWithCustomCallbacks returns correct values.👍

[2020-11-03 14:16] #8 closed

[2020-11-27 08:49] #2 closed

[2020-12-12 11:33] michalharakal opened #20 "Metrics logs with `fit` are visible with verbose=0"
I am not sure if it is a really an issue, but it has confused me a little bit. Calling `fit` on model for training with `verbose=false` produces logs with metrics. As far as I understood, INFO log level was set properly on beginning, but for metrics is logger called as `debug`.

It is a different to behaviour with Keras, at least with 2.x  If I wanted more granular informations in loggs regarding

[2020-12-14 14:27] zaleslaw commented on #20
@michalharakal Agree, that logging should more clear and be correctly separated for levels. Do you think that with verbose = false it should be really silent model?

[2020-12-14 17:06] michalharakal commented on #20
@zaleslaw I see two main possibilities.

1. verbose = 0 => completely silent. In that case you can have your own logs with a few lines via `callback`
2. you change API and introduce enum for more granular logs (I thing in Keras they have verbose being Int)

I would vote for  *verbose = 0 => completely silent* with power of callback for custommization and a lot of default information with *verbose

[2020-12-14 21:27] michalharakal opened #21 "Data and Models separation from core API library"
Current API jar contains resources with data sets and serialized models, which are used in examples. It makes jar file huge and brings a lot of questions regardings maintainance, data sources legal licencing etc.

### Supported use cases:

- ML "hello world" with MNIST data set should a few lines both in regular java application and so in Jupyter
- API deliverable itself is slick jar to be usable

[2020-12-15 07:51] zaleslaw commented on #21
Thanks @michalharakal it's a good feature request and described use-case. There is no the best solution here, but maybe the additional "small" jar provided as dependency could be helpful here. Something like "slim-api" dependency.

[2020-12-15 10:35] michalharakal commented on #21
@zaleslaw I would maybe workout more on the idea of data/model provider. We could do the similar approach as we know from java loggers. Its just an interface, in a default case with NoOp implementation. Linking another jar with the real implementation (e.g. getting the data set, or model from git, or just binary download) or I could even have dowloader.jar my fancy `Enterprisy` downloading models

[2020-12-17 07:47] quickstep24 opened #22 "Exception in combination with Log4J"
My project uses Log4J in combination with kotlin-logging:
[code]
This library is obviously hard-coded to expect logback loggers:
[code]

[2020-12-17 09:23] quickstep24 commented on #22
A workaround is to set `verbose` to true.
Btw: why is `verbose` a parameter? Shouldn't this be handled through logger configuration?

[2020-12-18 11:36] Blacktoviche commented on #5
I'm having the same issue. `Could not find artifact com.beust:klaxon:pom:5.0.1 in mavenCentral (https://repo1.maven.org/maven2/)`

here is my maven

`<?xml version="1.0" encoding="UTF-8"?>
<project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://maven.apache.org/POM/4.0.0"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-

[2020-12-18 11:39] zaleslaw commented on #5
I will test with maven and suggest a fix, thanks for your question

пт, 18 дек. 2020 г., 14:36 Malek Tarboush <notifications@github.com>:

[2020-12-18 19:00] zaleslaw commented on #22
Thanks for feedback, @quickstep24 looks like here are in battle two approaches: Keras API consistency, which uses verbose as a method parameter and log configuration traditions from JVM world. I suppose we should be closer to JVM.

[2020-12-19 10:23] Rishit-dagli opened #23 "[Feature Request] Support for functional API"
As of now, only Sequential models are supported it would be great to allow models to take inspiration from [Keras Functional APIs](https://www.tensorflow.org/guide/keras/functional) and allow building such models. This would allow creating models that are more flexible with KotlinDL and also open up more possibilities with the kind of models one could make with KotlinDL including branching, multip

[2020-12-19 15:37] quickstep24 opened #24 "reshapeFunction not initialized after model load"
I store a model with
[code]
then I reload and use it with
[code]
But I get an exception:
[code]
My fault or is this a bug?
Not sure about `SavingFormat` because two entries have same description.

[2020-12-19 17:26] LostMekka opened #25 "[Bug] Suspiciously slow calls to `Sequential.predictSoftly`"
Calls to `Sequential.predictSoftly` start out fairly slow and each call takes a bit more time than the last one.

My example model is quite small, but the first call already takes about 25ms on my machine. (for comparison: fitting 1.000 random data points with 10 epochs takes 415ms) After calling predictSoftly 10.000 times, each successive call takes a third of a second.

![image](https://user-ima

[2020-12-20 10:58] quickstep24 commented on #25
a.)
`Sequential.internalPredict` does not close the tensors it receives.
b.)
`Dataset.serializeToBuffer` can be optimized for this special case when there is exactly one `FloatArray`. It is faster to wrap this `FloatArray` into a `FloatBuffer` than to copy it into a newly allocated buffer.
c.)
There should be a means to call `predict` and `predictSoftly` on a batch of inputs. At the moment this is

[2020-12-21 08:50] zaleslaw commented on #25
@LostMekka thanks a lot for your performance experiment, It looks great.
Also, looks like @quickstep24 is right and his suggestions will be fixed in the next 0.1.1 bug fix release.

1. Missed closed tensor - it's a bug, of course.
2. I'd like an idea for optimization for plain FloatArray.
3. About FloatBuffer usage - need to revisit its usage (I have some thoughts about small performance improveme

[2020-12-21 09:25] LostMekka commented on #25
That would be awesome as well. My current pet project to try out this library is a board game AI that very crudely learns through self play, where the neural net is the search heuristic. The AI plays a semi-random game sequence and for each pair of successive moves I create a training data point. (needs 1 predictSoftly per data point) Building these self-play datasets would probably greatly benefi

[2020-12-21 09:41] zaleslaw commented on #25
Great idea for pet-project, so, hope it will be helpful, please create a separate ticket for this case as an feature request.
So, I will release it in 0.1.1 but it takes time and will be released at the mid of January (not earlier, sorry)

[2020-12-21 10:06] LostMekka opened #28 "[Feature Request] Support batch processing for predictSoftly"
`Sequential.predictSoftly` should also have a batch version, similar to `Sequential.predict`.

This came up in #25:

_Originally posted by @LostMekka in https://github.com/JetBrains/KotlinDL/issues/25#issuecomment-748869754_

[2020-12-21 10:17] quickstep24 opened #29 "getOptimizerName convert function to property"
Convert function to property
`public abstract fun getOptimizerName(): String`
=>
`public abstract val optimizerName: String`
in `Optimimizer.kt`

[2020-12-25 12:41] zaleslaw commented on #29
@quickstep24 agree, with this change to be more Kotlin-idiomatic. If you want, you could create a PR for this and same cases

[2020-12-25 12:49] zaleslaw commented on #23
Hi, agree, this is an important feature.
Currently, it's not supported due to limitation of underlying Java API for TF 1.15 and limitation of C/C++ API:

- Functional API totally based on Concatenate and its children usage (Add, Subtract and another Merge layers)
- Concat operand is available, but gradients are not available for it
- no ability to register custom gradient for analogue of Concat op

[2021-01-13 15:43] #25 closed

[2021-01-13 16:08] zaleslaw commented on #25
Dear @quickstep24

The reason to use are the following:

1. No Tensor.create method which give us ability to pass plain FloatArray with shape.
2. The shape of created tensor depends on the input data and could have different number of dimensions
3. Reshape of plain FloatArray to multidimensional array is required before passing to Tensor
4. Why not prepare FloatBuffers if underlaying TF Java API i

[2021-01-14 16:01] zaleslaw commented on #24
Hi, @quickstep24 Thanks for the question.
1. You used the correct format
2. Reshape function is not serialized and should be write manually, look to this [example](https://github.com/JetBrains/KotlinDL/blob/master/examples/src/main/kotlin/examples/inference/production/fashionmnist/LeNetFashionMnistExportImport.kt)
3. In the method '''predictSoftly'' was an incorrect ''require'', I fixed it in the

[2021-01-14 16:05] #24 closed

[2021-01-14 16:43] #28 closed

[2021-01-14 20:46] quickstep24 commented on #25
It is probably me misinterpreting the documentation of `org.tensorflow.Tensor.create(Object obj, Class<T> type)` , where the example is given as:
[code]
I did assume that this constructor would also work on 1-dim float arrays, but I have never tried.

[2021-01-15 10:00] zaleslaw commented on #25
@quickstep24 I will explain my message. Yes, you can pass the 1-dim floatArray. But I need to pass a shape (to transform it to 2d/3d/4d) - but in this case this method requires 4d float array. It is not useful for me in this case, because the shape could be unknown and I want more generic code. But I agree, that in future need to minimize overhead with copying, will keep in mind such places.

[2021-01-15 11:20] zaleslaw commented on #22
Dear @quickstep24 . I removed all logback usages in the code (all of them related to the logging level set up in code) and make a step to be more JVM library. But logback dependency is in api module. What do you think? Is it enough for your request? If you will have logback dependecy and log4j dependency on classpath, you could use the [following solution](http://www.slf4j.org/codes.html#multiple_

[2021-01-15 12:21] zaleslaw commented on #20
@michalharakal We decided to move logging in this framework from Keras - pythonic side to the common JVM practice with log4j logging and verbose levels via configuration.

Silent mode could be set up via OFF mode in log4j2.xml config (it will be added to the examples).

Also, I'm going to add an example with custom logging via custom callback, thanks for the idea.

[2021-01-15 12:46] #22 closed

[2021-01-18 07:39] #20 closed

[2021-01-19 11:10] LostMekka commented on #29
I would like to do this, but I have a question: Should this be done while keeping and deprecating the existing `getXyz` methods? In my own projects I only start to use the proper deprecation cycle at 1.0.0 and beyond, but there are many different opinions about that ^^

[2021-01-19 11:41] LostMekka commented on #29
And the next question: Structural search revealed things like:
https://github.com/JetBrains/KotlinDL/blob/b1c89e5cc1ce0c873b06e183d15d28c1f819a41c/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/core/layer/Layer.kt#L82-L84
Judged by the name alone, this is also a getter which could be a `val` property instead, but the implementations do some considerable work there. Should I leave them as they ar

[2021-01-19 12:57] zaleslaw commented on #29
@LostMekka no worry about deprecation, feel free to remove methods and convert to properties. But I'm not sure about getWeigths - the idea was to have an abstract method that should be overridden in each layer and sometimes it has a very large body. Maybe you have any idea about renaming this method?

[2021-01-19 14:35] LostMekka commented on #29
I'm not sure there either. How about fetchWeights, readWeights, or maybe extractWeights? I don't feel very competent in this particular domain, so I don't know which word would fit best. 😅

[2021-01-19 19:38] zjuhasz opened #32 "Multiplatform support"
I think multiplatform support would quite useful. I assume this has been discussed already but there is no Github issue for it.

Use cases:
* Some Kotlin code targets only certain native platforms or only JS (in the future I think only WASM will be quite common) and it would be nice to be able to use this library from those projects.
* For multiplatform programs that do any kind of on device ML.

[2021-01-20 20:22] lamba92 commented on #21
I would not recommend that approach. It is very confusing for newcomers since it's implicit! Also, when and if going multiplatform, it would be a new problem!

[2021-01-21 11:38] zaleslaw commented on #32
@zjuhasz Agree with this idea, it's a good plan for the very far future. I'm a big expert in Multiplatform, but TFJS looks very interesting and has the TF API and a different back-ends.

This half of year, I suppose we will work on Kotlin on JVM part only, But I hope we will return to this feature request to exmperiment with that after a few releases.

[2021-01-21 11:39] zaleslaw commented on #21
Dear @lamba92 could you please explain why it would be a new problem if going multiplatform?

[2021-01-21 11:41] zaleslaw commented on #21
@michalharakal Totally agree about datasets, need to think about dataset hosting and possible loading via HTTP client or something else

[2021-01-21 12:26] zaleslaw opened #34 "[Feature] Add BatchNorm layer"
Keras framework has a BatchNorm layer, and it's a significant and widely used layer in modern CNN architectures.

Unfortunately, the TF Java API 1.15 and TF Java API 2.x wraps outdated BatchNorm operand; alternative FusedBatchNorm is a real operand at all and could not be used as part of the trained graph.

The best option here creates our own BatchNorm operand based on another low-level TF operat

[2021-01-21 12:31] zaleslaw opened #35 "[Feature] Add Activation layer"
We need a separate Activation layer because of #34. In many cases, the BatchNorm layer sits between the previous layer with the Linear Activation function and its own non-linear Activation function.

Also, it's important for Transfer Learning on Keras models, due to the widely used separate [Activation ](https://keras.io/api/layers/core_layers/activation/) layer.

[2021-01-25 06:48] #29 closed

[2021-01-29 14:15] zaleslaw opened #37 "[Feature] Add Merge layers (Add, Subtract, Multiply, Concatenate, Maximum, Minimum)"

[2021-01-29 14:15] zaleslaw opened #38 "[Feature] Add GlobalAveragePooling2D layer"

[2021-02-02 09:49] jbaron opened #39 "Dataset limitations"
Currently the dataset api allows only for simple X -> Y data sets. So one input and one output. There are many models that require more input and/or output data to be fed into the training loop.

Since other API's in KotlinDL rely on the dataset API, would it make sense to already come up with a more generic API?

Typically in the Python world  the output it is either arbitrary length Tuple (so pe

[2021-02-04 11:28] zaleslaw commented on #39
@jbaron Thanks for the feedback. I totally agree with you. The dataset API is minimal. You shared a few tips and ideas; it could be the initial point for the development. If you have any ideas, please share them on this issue. Maybe you could share any links or notebooks with your cases to learn them in detail.

[2021-02-07 21:43] jbaron commented on #39
@zaleslaw  I'll give it some more thoughts and see if I can come up with some examples. Perhaps better to not to just copy directly copy Python API's (and as a result use Map everywhere ;). Also it is key for many training examples that the data set can keep up with the training loop, so that often implies some sort of parallel behavior.

[2021-02-15 12:56] technight opened #40 "[Feature Request] Clone model"
As far as I can tell the API does not allow you to directly clone a model? Specifically I want an identical model with all the same layers, weights, optimizer settings etc.

The only current solution I can find is to save and load the model from disk, but it would be nice to have the ability to copy without spending time on all the IO required for saving and loading from disk.

[2021-02-16 08:37] zaleslaw commented on #40
@technight great idea, do you have any ideas about possible or required API?

[2021-02-17 18:56] technight commented on #40
I think something simple like .clone() or .copy() on InferenceModel would be sufficent for my needs

[2021-03-03 10:58] ileasile opened #41 "Get rid of Activations enum"
`Activations` enum duplicates `Activation` interface and makes adding new activation function harder for library contributors and impossible for library users.

Get rid of enum and add convenient "provider" service which stores activation functions objects.

[2021-03-03 15:48] zaleslaw commented on #41
A good idea, I will think about it. Thanks

[2021-03-18 09:01] zaleslaw commented on #21
It was fixed in https://github.com/JetBrains/KotlinDL/pull/43

[2021-03-18 09:01] #21 closed

[2021-03-18 09:22] zaleslaw opened #44 "[Feature] New Dataset API"
Current Dataset API is very limited and has a few sufficient limitations. We have no goal to copy-paste Keras and TensorFlow Dataset API now, but a few ideas could be adopted here.

First of all, we need in

1. Basic image preprocessing (resize, crop)
2. Abstract Dataset interface or class with different implementations: CSVDataset, TxtDataset, ImageFolderDataset, JDBCDataset, S3Dataset
3. Current

[2021-04-23 08:52] zaleslaw commented on #23
So, the early version of Functional API is merged. I close this issue

[2021-04-23 08:52] #23 closed

[2021-04-23 08:54] zaleslaw commented on #44
So, the basic Image Preprocessing DSL is provided. I close this issue

[2021-04-23 08:55] zaleslaw commented on #35
The Activation Layer + special ReLU layer were added, I close this issue

[2021-04-23 08:55] #35 closed

[2021-04-23 08:55] zaleslaw commented on #38
This layer was added, I close this issue

[2021-04-23 08:55] #38 closed

[2021-04-23 08:56] zaleslaw commented on #37
All these layers were implemented and merged. I close this issue

[2021-04-23 08:56] #37 closed

[2021-04-23 08:57] zaleslaw commented on #34
Unfortunately, FusedBatchNorm doesn't have gradients support in TF C/C++ API, the basic implementation for working in inference mode is implemented and merged.

[2021-04-23 08:57] #34 closed

[2021-05-18 08:28] zaleslaw opened #50 "Add Identity intializer"
We are missing some initializers to fully support the export of models from Keras. One of them is the Identity initializer.

Add an initializer class, write documentation for it, write a test for it, try, if possible, create a small trainable network with it (in your own GitHub) and attach a link.

Also, support for export and import of initializer in JSON format should be added (see [ModelLoader.

[2021-05-18 08:29] zaleslaw opened #51 "Add Orthogonal initializer"
We are missing some initializers to fully support the export of models from Keras. One of them is the Orthogonal initializer.

Add an initializer class, write documentation for it, write a test for it, try, if possible, create a small trainable network with it (in your own GitHub) and attach a link.

Also, support for export and import of initializer in JSON format should be added (see [ModelLoade

[2021-05-18 08:42] zaleslaw opened #52 "Add Softmax layer"
We are missing some activation layers to support the export of models from Keras fully. One of them is the Softmax layer.

Add an activation layer class, write documentation for it, write a test for it, try, if possible, create a small trainable network with it (in your own GitHub) and attach a link here in the comments.

The layer should be placed [here](https://github.com/JetBrains/KotlinDL/tree

[2021-05-18 08:43] zaleslaw opened #53 "Add LeakyReLU layer"
We are missing some activation layers to support the export of models from Keras fully. One of them is the LeakyReLU layer.

Add an activation layer class, write documentation for it, write a test for it, try, if possible, create a small trainable network with it (in your own GitHub) and attach a link here in the comments.

The layer should be placed [here](https://github.com/JetBrains/KotlinDL/tr

[2021-05-18 08:45] zaleslaw opened #54 "Add PReLU layer"
We are missing some activation layers to support the export of models from Keras fully. One of them is the PReLU layer.

Add an activation layer class, write documentation for it, write a test for it, try, if possible, create a small trainable network with it (in your own GitHub) and attach a link here in the comments.

The layer should be placed [here](https://github.com/JetBrains/KotlinDL/tree/m

[2021-05-18 08:47] zaleslaw opened #55 "Add ELU layer"
We are missing some activation layers to support the export of models from Keras fully. One of them is the ELU layer.

Add an activation layer class, write documentation for it, write a test for it, try, if possible, create a small trainable network with it (in your own GitHub) and attach a link here in the comments.

The layer should be placed [here](https://github.com/JetBrains/KotlinDL/tree/mas

[2021-05-18 08:48] zaleslaw opened #56 "Add ThresholdedReLU layer"
We are missing some activation layers to support the export of models from Keras fully. One of them is the LeakyReLU layer.

Add an activation layer class, write documentation for it, write a test for it, try, if possible, create a small trainable network with it (in your own GitHub) and attach a link here in the comments.

The layer should be placed [here](https://github.com/JetBrains/KotlinDL/tr

[2021-05-18 09:10] zaleslaw opened #57 "Add NFResNet model to models package"
The new family and approach of BatchNorm-free NN architectures look very perspective due to the lack of BatchNorm training support.

In the paper ["High-Performance Large-Scale Image Recognition Without Normalization"](https://arxiv.org/abs/2102.06171) the new approach is proposed.

We should apply this approach to the traditional ResNet architecture to prevent gradient exploding without BatchNorm

[2021-05-18 09:21] zaleslaw opened #58 "Find a best way to import weigths to the Keras"
We have the ability to load the model configuration from Keras JSON format and pre-trained weights stored in h5 format.
But how to export the model pre-trained in KotlinDL to the Keras or pure TensorFlow?

Currently, we support the weights export to the txt files. It's a baseline solution.
We need research here to find the best way to export weights.

There are a few open questions:

1. What part

[2021-05-18 09:37] zaleslaw opened #59 "[Audio] Add Conv1D layer"
We are missing some layers to support the export of models from Keras fully. One of them is the Conv1D layer.

Add a layer class, write documentation for it, write a test for it, try, if possible, create a small trainable network with it (in your own GitHub) and attach a link here in the comments.

The layer should be placed [here](https://github.com/JetBrains/KotlinDL/tree/master/api/src/main/kot

[2021-05-18 09:39] zaleslaw opened #60 "[Audio] Add MaxPooling1D layer"
We are missing some layers to support the export of models from Keras fully. One of them is the MaxPooling1D layer.

Add a layer class, write documentation for it, write a test for it, try, if possible, create a small trainable network with it (in your own GitHub) and attach a link here in the comments.

The layer should be placed [here](https://github.com/JetBrains/KotlinDL/tree/master/api/src/ma

[2021-05-18 09:42] zaleslaw opened #61 "[Audio] Add AveragePooling1D layer"
We are missing some layers to support the export of models from Keras fully. One of them is the AveragePooling1D layer.

Add a layer class, write documentation for it, write a test for it, try, if possible, create a small trainable network with it (in your own GitHub) and attach a link here in the comments.

The layer should be placed [here](https://github.com/JetBrains/KotlinDL/tree/master/api/sr

[2021-05-18 09:46] zaleslaw opened #62 "[Audio] Add GlobalMaxPooling1D layer"
We are missing some layers to support the export of models from Keras fully. One of them is the GlobalMaxPooling1D layer.

Add a layer class, write documentation for it, write a test for it, try, if possible, create a small trainable network with it (in your own GitHub) and attach a link here in the comments.

The layer should be placed [here](https://github.com/JetBrains/KotlinDL/tree/master/api/

[2021-05-18 09:47] zaleslaw opened #63 "[Audio] Add GlobalAveragePooling1D layer"
We are missing some layers to support the export of models from Keras fully. One of them is the GlobalMaxPooling1D layer.

Add a layer class, write documentation for it, write a test for it, try, if possible, create a small trainable network with it (in your own GitHub) and attach a link here in the comments.

The layer should be placed [here](https://github.com/JetBrains/KotlinDL/tree/master/api/

[2021-05-18 09:54] zaleslaw opened #64 "[Visualisation] Find a best way for activation (feature) map visualisation"
Currently, we have a very poor [example](https://github.com/JetBrains/KotlinDL/tree/master/examples/src/main/kotlin/examples/visualisation) of feature map visualization in the _examples_ module for LeNet-5.

Hope these examples could be extended and rewritten in a more clear, Kotlin-idiomatic, and universal manner to visualize it on Swing.

But let's don't limit yourself to good old Swing, what is

[2021-05-19 19:47] avan1235 commented on #59
I can start working on it on my repository fork and try to open PR in a few days

[2021-05-20 06:51] zaleslaw commented on #59
Great, @avan1235 I could assign the ticket if you are in the comments thread

[2021-05-21 10:32] avan1235 commented on #55
@zaleslaw I'm working on it before doing further research on conv1d. Will create PR today without trainable network (I can do it as separate issue)

[2021-05-23 10:10] avan1235 commented on #64
I will try to work on this feature using https://github.com/JetBrains/lets-plot-kotlin which from firsts tries works really good and gives me the ability to work on Datalore.

From my perspective all kotlin-dl samples could (maybe even should) have been proposed in notebook version (if they are simple enough) because it is easier to run notebook in ready environment and not use your own CPU to tra

[2021-05-24 11:48] zaleslaw commented on #64
Datalore probably have an outdated Kotlin kernel (it will be updated soon), but Kotlin DL should work without any issues
Let's plot could be a perspective direction for research, but I don't remember, could it visualize images?

The current examples in the _examples_ module serve two purposes:

- The first goal is to be ready-made chunks of code for a huge number of custom scripts so that they can

[2021-05-24 12:12] avan1235 commented on #64
I managed to visualize mnist number images as tile plots where every single pixel got its value on tile plot. I haven't seen yet the possibility to plot for example png images but imo it could be done as these images also can be represented as metrices

It would be great and I think it has a big educational role because it is easier to run notebook than to have the IDE run locally and downloading

[2021-05-24 12:29] zaleslaw commented on #64
It's a fresh point of view for me, thanks, I'm an old-school guy here and fondly tied to code downloaded and run locally on the  laptop

[2021-05-24 13:40] avan1235 commented on #64
[Here](https://datalore.jetbrains.com/view/notebook/PeS18jjyKl1llZ5V8cyMLg) are my drafts of letsplot usage with lenet5 model, you just have to be logged in and click "Edit copy" to see the notebook in your space (I didn't manage to share it in another way)

About running things in notebook, it's only toy problems purpose for me and playing with framework because the auto-import feature here misse

[2021-05-24 14:58] mkaze opened #69 "Questions about design goals, roadmap, etc."
I am currently learning Kotlin and in order to enhance my learning experience I was looking for a project accepting contributions. So I am excited to find this library, especially considering the fact that I have a relatively fair amount of experience working with Keras/TF in Python. However, I have a few questions about some of the high-level aspects of the project and I would appreciate if the m

[2021-05-25 11:40] e5l opened #71 "Create Website with API Documentation from KDoc"
It would be really great to have the website with a search ability from all documentation we already have in KDoc. Here is the link to get started: https://kotlin.github.io/dokka/1.4.32/user_guide/gradle/usage/

[2021-05-25 11:42] e5l opened #72 "Create API for Saving and Loading Model Snapshot"
I want to try out different training mechanisms using save-restore-replay. Could you tell me if it's possible to make API to support such use-cases?

[2021-05-25 12:50] zaleslaw commented on #69
Great questions, I'll try to answer all of them.

The project is started as a copy of Keras at the top of TensorFlow and Keras is the most popular high-level framework in DL at this moment (top-level frameworks based on PyTorch are not so popular)

Also, it supports the transfer learning on Keras models and we need to be fully compatible with it (has the same layers with the same inputs and output

[2021-05-26 03:04] mkaze commented on #69
@zaleslaw Thanks a lot for your comments. That makes it clearer now.
One more question: I am not familiar with TF Java API, so do you see any advantage in writing a Kotlin API for TF (probably as a separate project and a long-term goal)?

Sure! Although, as I mentioned earlier, I am new to Kotlin and I am still learning it and studying the codebase to understand what's going on. Anyways, I'll try

[2021-05-26 13:13] zaleslaw commented on #69
Currently, Kotlin API for low-level operands have a chance to become a part of tensorflow/java project (it has a draft PR), if it will be mature and useful, we will not create yet one, if it will be frozen or unfinished, so, Kotlin API for low-level TF should be created too (maybe as a separate module in this project)

[2021-05-26 17:12] d-lowl commented on #52
I'm currently looking into this issue and have a question regarded the expected implementation. TF/Keras Softmax layer in Python takes two arguments: the input tensor and the mask. However, the current abstract forward function does not allow that. Do we want to implement masking (and hence extending the signature for `forward`) or is it out of scope for this issue?

[2021-05-27 09:40] zaleslaw commented on #71
Great, thanks for the advice, we started Dokka integration, but it was not finished yet.

[2021-05-27 09:48] zaleslaw commented on #72
Today you have a few approaches to save the model and continue work with that

1. Save the model as TF graph and weights in txt format ([example](https://github.com/JetBrains/KotlinDL/blob/master/examples/src/main/kotlin/examples/inference/fashionmnist/LeNetFashionMnistExportImport.kt)) The model could be used for inference only after loading as InferenceModel.
2. Save the model as JSON config and

[2021-05-27 10:21] zaleslaw commented on #52
@d-lowl It's a reasonable question: so, I suppose we can implement this layer without a mask.

As you rightly noted, at the moment there is no support for masks, including at the level of layers and arguments. The fact is that while they are not needed for those models that are supported in the model zoo. I have a secret hope that they may not be needed.

[2021-05-27 10:51] d-lowl commented on #52
Gotcha. I'll hopefully come back with a PR soon.

[2021-05-27 14:47] #55 closed

[2021-05-27 15:01] zaleslaw commented on #52
So, I've assign it for you, if you are agree with that, to avoid two or more PRs for one tickets

[2021-05-29 19:33] hbrammer commented on #50
Hi there 👋🏻
I'm new to the party and would love to help.
Created a first draft of this in #73

I will hopefully complete this in the next couple of days.

[2021-05-29 20:32] therealansh commented on #63
Hey @zaleslaw , interesting project will be coming up with this PR soon. Might have some questions, is there any community server?

[2021-05-30 15:07] mkaze commented on #53
I am willing to take this and work on it.

[2021-05-31 06:54] zaleslaw commented on #56
@mkaze, please write a comment here, I could assign a ticket for you

[2021-05-31 07:07] mkaze commented on #56
@zaleslaw Sure! I forgot to leave a comment for this one before starting to work on it.

[2021-05-31 09:22] zaleslaw commented on #63
Hi, @therealansh , thanks for joining!
Feel free to ask here, or raise a question in [Discussion chapter](https://github.com/JetBrains/KotlinDL/discussions)
Also, you could register in [Kotlin slack](https://kotlinlang.org/community/) and join #kotlindl channel and find me by nickname @zaleslaw

[2021-05-31 09:45] zaleslaw opened #78 "Add missed loader for the ReLU and ELU activation layers"
Each layer should have an implementation for export/import from/to JSON configuration (Keras compatible format) (see [ModelLoader.kt ](https://github.com/JetBrains/KotlinDL/blob/master/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/inference/keras/ModelLoader.kt) and [ModelSaver.kt](https://github.com/JetBrains/KotlinDL/blob/master/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/inference/keras

[2021-05-31 09:59] zaleslaw opened #79 "[Video] Add Conv3D layer"
We are missing some layers to support the export of models from Keras fully. One of them is the Conv3D layer. A detailed description of the layer can be found [here](https://keras.io/api/layers/convolution_layers/convolution3d/).

- [ ] add layer class to the  [package](https://github.com/JetBrains/KotlinDL/tree/master/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/core/layer/convolutional) usin

[2021-05-31 10:16] avan1235 commented on #79
I can take it after the merge of #59

[2021-05-31 11:06] zaleslaw opened #80 "[Video] Add Add MaxPooling3D layer"
We are missing some layers to support the export of models from Keras fully. One of them is the MaxPooling3D layer. A detailed description of the layer can be found [here](https://keras.io/api/layers/pooling_layers/max_pooling3d/).

- [ ] add layer class to the  [package](https://github.com/JetBrains/KotlinDL/tree/master/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/core/layer/pooling) using Ma

[2021-05-31 11:09] zaleslaw opened #81 "[Video] Add AveragePooling3D layer"
We are missing some layers to support the export of models from Keras fully. One of them is the AveragePooling3D layer. A detailed description of the layer can be found [here](https://keras.io/api/layers/pooling_layers/average_pooling3d/).

- [ ] add layer class to the  [package](https://github.com/JetBrains/KotlinDL/tree/master/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/core/layer/pooling)

[2021-05-31 11:15] zaleslaw opened #82 "[Video] Add GlobalAveragePooling3D layer"
We are missing some layers to support the export of models from Keras fully. One of them is the GlobalAveragePooling3D layer. A detailed description of the layer can be found [here](https://keras.io/api/layers/pooling_layers/global_average_pooling3d/).

- [ ] add layer class to the  [package](https://github.com/JetBrains/KotlinDL/tree/master/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/core/la

[2021-05-31 11:27] zaleslaw opened #83 "Add regularization to the layers"
Each layer in Keras have [internal regularization](https://keras.io/api/layers/regularizers/) implemented with

- [ ] L1
- [ ] L2
- [ ] L1_L2

regularization functions.

Currently. these functions are not applied on the KotlinDL side, it should be added to the export/import model

[2021-06-01 02:51] mkaze commented on #54
I'll take this one and work on it.

[2021-06-01 08:30] zaleslaw commented on #51
@therealansh, please leave a comment here, to assign this issue on you

[2021-06-01 10:17] therealansh commented on #51
Oh sorry @zaleslaw ! Might have missed on this one. I'll be completing the tests soon and finalising the PR.

[2021-06-01 10:20] therealansh commented on #54
I think PReLU requires Regularization of weights, to calculate the alpha. And the regularizations is yet to be implemented (#83 ) i guess?

[2021-06-01 10:27] mkaze commented on #54
@therealansh A regularizer is *not necessarily* used; actually, you can optionally provide a regularizer as well, but in the default case it works without any regularization or constraint on the weights. Nonetheless, it should be added in any case; so I have left a TODO comment for that in my implementation.

[2021-06-01 10:39] zaleslaw opened #87 "Add model export for a few layers, missed in ModelSaver.kt"
Each layer should be exported in JSON, Keras compatible format
The following layers are missed in ModelSaver.kt

1. Concatenate
2. ZeroPadding2D
3. DepthwiseConv2D
4. SeparableConv2D

NOTE: some another layers' export, like Activation or merge layers like Subtract and so on are parts of other PRs now

[2021-06-01 10:44] zaleslaw commented on #54
Good comment, @therealansh, about regularizers, but now it's not supported yet and will be an issue later (I'll suggest adding an issue about that).

So, agree with @mkaze we could work with a simple PReLU version now (adding a TODO with a link on the newly created issue and #83 could be a good solution)

[2021-06-01 12:08] mkaze commented on #87
I'll take this one.

[2021-06-01 12:28] mkaze opened #89 "Model save/load compatibility with Keras"
I was wondering if we are aiming for a two-way compatibility with Keras in terms of saving and loading of the models. In particular, should both of the following conditions satisfy?

- Models trained and saved with Keras could be fully loaded in KotlinDL.
- Models trained and saved with KotlinDL could be fully loaded in Keras.

[2021-06-01 13:21] zaleslaw commented on #89
Yes, but the first priority is the loading model from Keras for Transfer Learning purposes. It's an important and popular use case.

Also, we need a good way to save the model for KotlinDL needs (currently, there are a few ways, and one of the exports to Keras-like JSON format); it's the second point here.

It's a good idea to have full export/import with Keras in both directions, hope to return t

[2021-06-01 14:01] therealansh commented on #82
I could start on this once the #74 is merged

[2021-06-01 14:31] #87 closed

[2021-06-01 15:29] #56 closed

[2021-06-01 15:41] #53 closed

[2021-06-02 06:31] #63 closed

[2021-06-02 08:04] mkaze opened #92 "Automated tests (CI) for PRs and merges"
I was wondering if there is a plan to setup continuous integration for running the unit and integration tests automatically on each pull request as well as on merges to master branch. I think as the project and the number of contributors grow, this would be a useful addition to get a quick feedback and keep the project stable. Of course, each contributor/reviewer can independently run the tests lo

[2021-06-02 08:13] mkaze opened #93 "Automated linting and style check"
I was wondering if there is a plan to have automated style check and linting for contributions. This would be really useful to keep the codebase clean and in order. Additionally, some pre-commit hooks for running style checks and linting could be set up to address this locally before pushing commits.

[2021-06-02 09:07] mkaze commented on #62
I'll work on this.

[2021-06-02 10:16] mkaze opened #94 ""Pool" or "Pooling" ?!"
Currently, we are using a mix of both "Pool" and "Pooling" words in naming the variables, functions, classes and the files, as well as in constant string values. I think this might bring confusion and inconsistency. It would be a good idea to choose only one of these and use it all over the codebase. Of course, we can choose the other one only as required (e.g. for compatibility with Keras when lo

[2021-06-02 10:22] therealansh commented on #93
I agree with you @mkaze it would really lead to a clean codebase. May i suggest adding this linters to github actions if in future we go with set up a CI. This would actually automate and contributor need not to worry about formatting the code before pushing.

[2021-06-02 10:28] mkaze commented on #93
Yeah, I also meant it to be automated, i.e. use it as an step of CI in Github PRs. I only mentioned the pre-commit hooks as an **(optional and) additional** tool for the contributors so that they can check and fix the related errors before pushing their commits.

[2021-06-02 11:33] mkaze commented on #94
An update on this about compatibility: I just checked this and Keras is using "pooling" (instead of "pool") in the output of `layer.get_config()` and `model.get_config()` (for both fields of `name` and `class_name`) which in turn is used by `model.to_json()` to export model config as JSON. This is true for all layers.

[2021-06-02 13:10] #59 closed

[2021-06-02 13:12] mkaze commented on #60
I'll take this and work on it.

[2021-06-02 13:40] mkaze commented on #60
@zaleslaw A related question: I was wondering why you decided to include `batch` and `channels` dimension in the `pooling` and `strides` properties of `MaxPool2D` layer.

https://github.com/JetBrains/KotlinDL/blob/7e8c7d996d259ae1ebd1c102681c49070249bd26/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/core/layer/pooling/MaxPool2D.kt#L28-L30

Is there any common use case for pooling over those two

[2021-06-02 13:48] zaleslaw commented on #92
The current status of TC:

1. Internal JetBrains TC: api-test, example-test, maven-publication, build artifacts
2. Trigger on each commit to the master branch

Plans:
1. Run tests/examples on proposed PRs
2. Trigger on PR (maybe wrong way)

Alternatives for the future:
1. Make integration with a simple OK from the internal TC build server
2. Make public TC with credentials for top contributors (lo

[2021-06-02 13:49] zaleslaw commented on #93
Hi, @therealansh and @mkaze do you have any ideas what style-check/linting should be added? Share best practices here in the thread

[2021-06-02 14:31] zaleslaw commented on #92
_**Plans: Run tests/examples on proposed PRs + Make integration with a simple OK from the internal TC build server**_ is made and will be applied for the future PRs via TC Build features, thanks for the idea and the lighting of the pain for the contributors @mkaze

[2021-06-02 15:55] therealansh commented on #80
I'll take up this one next

[2021-06-02 15:58] mkaze commented on #61
Since this is very similar to `MaxPool1D` layer, I'll take it and work on it.

[2021-06-02 17:11] #50 closed

[2021-06-03 02:24] mkaze commented on #92
@zaleslaw All right, thanks! That's much better than nothing. Hopefully, in future we will adopt a more public and automated process for this to increase the efficiency of development and feedback loop for contributors.

[2021-06-03 02:56] mkaze commented on #93
@zaleslaw Well, I am relatively new to Kotlin in particular, but what I have in mind is a set of simple and standard checks as part of CI process (hopefully, triggered automatically on PR) which is a common practice in various projects written in different languages. These checks may include all the tests a standard linter or style-checker tool would do, e.g. checking unused imports/variables/func

[2021-06-03 07:20] mkaze commented on #81
I'll take this one.

[2021-06-03 10:37] zaleslaw commented on #60
@mkaze The reason was simple - to keep the ability to control all inputs parameters available in low-level Java API
A few contributors (including @avan1235) raised this question due to the difference between this API and Keras/Torch APIs.

I agree that these 4d arrays should be revisited, but revisited together in the same manner. I suggest keeping consistency at this moment.

NOTE: This API is no

[2021-06-03 10:41] zaleslaw commented on #92
At this moment the trigger on PRs commits or access for the users outside JetBrains org is prohibited due to security reasons (it's easy to make DDOS on our TC servers), hope to move forward with this question.

I'm not familiar with GithubActions, but will learn this possibility to do something

[2021-06-03 10:46] zaleslaw commented on #94
Great, I dislike the long AveragePooling and prefer AvgPool too, so it could be renamed in the same manner, then all tickets related to pooling for 1d/3d will be merged.
We use Conv instead Convolution, Pool instead Pooling, Max instead Maximum.
PyTorch has the same short names: https://pytorch.org/docs/stable/generated/torch.nn.MaxPool2d.html

Regarding Keras compatibility: we will keep it on con

[2021-06-03 10:47] zaleslaw commented on #94
I suppose that you could use short versions in tickets assigned to you, final renaming could be performed later

[2021-06-03 11:19] mkaze commented on #94
Yeah, I have already used the short version in all the related PRs.

[2021-06-03 13:34] #52 closed

[2021-06-03 13:44] zaleslaw commented on #93
My colleagues advised me ktlint and detekt (both together), so I'll try to set up them for the project in the nearest future.

[2021-06-03 15:16] zaleslaw opened #100 "Add basic Constraints support"
Add basic constraints to the following list of layers:

- [ ] Dense
- [ ] Conv2d
- [ ] Conv1d
- [ ] (optional) SeparableConv2D
- [ ] (optional) DepthwiseConv2D

The following constraints should be implemented:

- [ ] MaxNorm
- [ ] MinMaxNorm
- [ ] NonNeg
- [ ] UnitNorm

[2021-06-04 02:49] mkaze commented on #60
Ok, then I think I have to revisit the four PRs I have made for pooling layers to make them accept the full version of pool size and strides instead.

Nice!

I see. For that specific use case, currently I handle that in my PRs by setting strides as nullable and when it's `null` (which is the default) then it will have the same value as pool size. This is also the approach Keras has taken.

[2021-06-04 12:29] zaleslaw opened #101 "Add new models to Model Zoo: NasNetMobile, NasNetLarge, DenseNet121, DenseNet169, DenseNet201, Xception"
For each model in the list:

- [x] prepare weights and configs (with top)
- [x] load them to S3 storage
- [x] add model to model loader
- [x] add examples (a few of them with additional training)

[2021-06-04 18:54] #101 closed

[2021-06-04 18:54] #83 closed

[2021-06-06 19:31] avan1235 commented on #92
I have tried to create some simple working example of such GH action as I've been working with GH a few times now but the tests were then failed with the unknown for me reason. You can see the definition of such workflow [here](https://github.com/avan1235/KotlinDL/blob/avan1235/test-gh-action/.github/workflows/test.yaml) but there is a problem visible in [this run](https://github.com/avan1235/Kotl

[2021-06-06 19:34] avan1235 commented on #100
Please take into account my refactor of conv layers which is going to be done [here](https://github.com/JetBrains/KotlinDL/pull/104). I created AbstractConv so I suppose it would be easier to introduce these constrains after merge of this change if possible (case looks similar to regularizers as i think about it)

[2021-06-07 06:20] zaleslaw commented on #100
@avan1235 looks like the constraint will be postponed because I have no idea how to apply them to the variables.
It should become a part of the weight update in the optimizer, but I could not pass it to the optimizer and minimize function to apply on each step. The weight update mechanism is hidden from our control in the optimizer functions provided via TF Java API

[2021-06-07 06:25] zaleslaw commented on #92
Great, @avan1235 I'll try your approach. So, I know the reason for this test failing. It's a flaky test due to some asserts are not true sometimes due to TensorFlow non-determinism. I need to revisit conditions in these tests related to the different optimizer usage and relax assert conditions there.

[2021-06-07 10:44] mkaze opened #106 "Some inconsistencies in naming and data types"
The inconsistencies are as follows:

**ModelLoader.kt**

- The name of some of the layer creator functions follows the pattern `create[layer_name]Layer` while others don't use that "Layer" at the end. [suggestion for fixining this: refactor and always use "Layer" at the end for these functions.]
- The return type of some of the layer creator functions has been set as `Layer` while others use the t

[2021-06-07 11:45] mkaze opened #107 "Save the trainability status of layers in JSON"
Am I correct in saying that currently when the configuration of the model is saved as JSON, the `trainable` config parameter is always saved as `true` even if the layer is actually frozen (i.e. `layer.isTrainable == false`)? If so, shouldn't it be fixed?

On a related note, similar to Keras, isn't it better to do some refactoring and introduce a new method like `getConfig` for the base `Layer` (an

[2021-06-08 17:14] #40 closed

[2021-06-09 10:00] zaleslaw commented on #107
Regarding your first question, yes, it looks like a bug, I suppose there is could a few missed things here.
At this moment no good unit test for Model export/import, it's covered by integration test only.

If you wish, you could propose a PR or I could convert it to the good newbie ticket (to attract new contributors), believe me, we could stay some things for them:)

Regarding your proposal. The

[2021-06-09 10:12] zaleslaw commented on #106
Totally agree with you for naming and data types in both, ModelSaver and ModelLoader.
Are you going to create a PR for that, or could I rename it?

Regarding numerical types: this problem about Long/Int, arrays in strides/kernels to pass it directly to underlying TF Java API
I created a discussion [here ](https://github.com/JetBrains/KotlinDL/discussions/110). Please join and share your approach t

[2021-06-09 14:10] zaleslaw commented on #51
Fixed in #84

[2021-06-09 14:10] #51 closed

[2021-06-09 15:41] #54 closed

[2021-06-10 03:37] mkaze commented on #106
Sure, I'll create a PR for that.

[2021-06-10 03:43] mkaze commented on #107
:smiley: Yeah, that sounds good to me!

Yeah, agreed; this should be further discussed to find a good approach.

[2021-06-10 06:29] mkaze opened #112 "Add support for grouping convolution filters"
Currently, the support for grouping convolution filters in convolution layers is missing. For more information, you can read the `groups` argument description of `Conv2D` layer in Keras [here](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv2D#args), or in PyTorch [here](https://pytorch.org/docs/stable/generated/torch.nn.Conv2d.html#torch.nn.Conv2d).

[2021-06-10 08:13] mkaze commented on #112
Though, currently the underlying TF Java API does not support grouped convolutions. Alternatively, this could be implemented by grouping the input channels, applying filters separately and then concatenating the results.

[2021-06-10 12:52] zaleslaw commented on #112
Agree, that this functionality is missed, the initial idea to make MVP DL framework - to implement building blocks required to make parse and load CV models from the Keras.applications. As I understand, that groups are not used in the SOTA models, but  maybe you could share architecture, competition or abstract/paper where it was used. I mean, do we really need this functionality?

[2021-06-10 12:53] zaleslaw commented on #107
So, it's ok, I labeled it with the "good first issue", I think it will be taken during the summer.

[2021-06-10 12:54] zaleslaw commented on #106
Great, hope to merge it quickly

[2021-06-10 13:05] mkaze commented on #112
@zaleslaw I think ResNeXt used grouped convolutions; but I agree that it's not a crucial feature to have at this moment, especially for an MVP.

[2021-06-10 16:29] #80 closed

[2021-06-10 16:41] zaleslaw commented on #82
Fixed in #91

[2021-06-10 16:42] #82 closed

[2021-06-11 07:04] zaleslaw commented on #112
If it is used in ResNeXt - it could make sense, the problem with ResNeXt is the following: it's not on the official list of pre-trained Keras models yet, but the model [is created ](https://github.com/tensorflow/tensorflow/issues/38711)

[2021-06-11 15:17] #60 closed

[2021-06-13 12:35] avan1235 commented on #78
I can take if there are no volunteers for this issue and I was adding the ELU layer as I don't see other work for now for me and I'd like to try to export the trained model in kotlinDL to see how it works :wink:

[2021-06-13 13:13] #61 closed

[2021-06-13 13:14] #81 closed

[2021-06-13 15:36] avan1235 opened #113 "Create Jupyter notebooks examples"
We can show the process of working with KotlinDL and the following steps using the jupyter notebooks examples.
Such example would include step by step description to show the process of network building and its visualization (when some visualization functions are published)
In my opinion it's worth to publish in form of noteboo at least the example of:
- [ ] conv2d image classification with images

[2021-06-13 16:30] zaleslaw commented on #78
I suppose you are enough mature for second-level tasks, let's leave it for newcomers, it's easy to add, but need to understand some important things.
If it will be not closed till the end of July, I'll notify you or fix it be myself

[2021-06-14 19:02] dosier commented on #107
Hi, can I do this?

If so,  should for each type of `Layer` it's corresponding `LayerConfig` set the `trainable` parameter? Or can it be ignored for certain layer types?

Also are there any guidelines on contributing? I am not very familiar with contributing to an open source project.

[2021-06-14 19:18] dosier commented on #78
I can volunteer for this issue.
I already see there is support for loading **ELU** and **ReLU** layers in [ModelLoader.kt](https://github.com/JetBrains/KotlinDL/blob/master/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/inference/keras/ModelLoader.kt)
So only the saving part needs to be done right?

[2021-06-14 19:26] dosier commented on #78
Nevermind my commits, we happened to work on it at the same time :D

[2021-06-14 19:45] dosier commented on #58
Maybe we can abstract out the serialisation part, then provide a default serialiser for the Keras weight format (this seems most fitting for KotlinDL). If we abstract the serialisation part, people can implement their own serialisers and provide it as a dependency for the niche use-cases. Maybe inspiration can be taken from KTor's features system.

[2021-06-15 03:01] mkaze commented on #78
@kokorins @dosier Just a tip: it's much better to first leave a comment mentioning that you are working on a PR for an existing issue in the issue page (or create an issue first if it does not already exist and let the maintainers know that you are interested to work on it). With that, you can prevent duplicated effort and you don't end up working on an issue which another person is also working o

[2021-06-15 12:01] zaleslaw commented on #107
@dosier Feel free to take this ticket.
This project is not mature enough, and some important parts like guidelines on contributing are missed, so I'll add them in the nearest future; thanks for the advice.

Regarding the ticket: I suggest saving trainable status for all layers when we serialize the model.

[2021-06-15 12:04] zaleslaw commented on #58
Yeah, it's a great idea to separate the serialization API (now it's built on Keras format for model saving).
What parts of KTor do you mean? I'm not familiar with this functionality

[2021-06-15 12:17] zaleslaw commented on #113
You described why I don't use notebooks like examples/integration-tests, it doesn't work well in IDEA, and so on.

It's a good idea to publish sometimes (every 2 weeks, for example, the developer version of the library), but I'm not sure about the SNAPSHOT version after each commit (but accept you)

The proposed functionality is covered in our [tutorials ](https://github.com/JetBrains/KotlinDL/tre

[2021-06-15 12:22] zaleslaw commented on #78
Yeah, as @dosier we have not yet the contribution guidelines, but looks like this is a time to write something about that.
Sorry for the situation, @dosier

[2021-06-15 12:22] zaleslaw commented on #78
@kokorins could you please write any comment here, to assign the ticket on you

[2021-06-15 12:32] avan1235 commented on #113
That sounds like a great idea to work with tutorials. I mean the notebooks in known .ipynb format so it is readable from GH page as well as markdown documents (let's see at some random example [here](https://github.com/odewahn/ipynb-examples/blob/master/Custom%20Display%20Logic.ipynb)). I think of it like of the runnable extension of Markdown that can have its execution results also included (whic

[2021-06-15 13:07] mkaze opened #116 "Add GlobalMaxPool2D layer"
Currently, the support for `GlobalMaxPool2D` is missing and it would be great if we could add support for this layer as well. The desired PR addressing this issue should include:

- Implementation of layer class named as `GlobalMaxPool2D` (you can take inspiration from implementation of [`GlobalMaxPool1D`][1] as reference)
- Documentation of layer.
- Test cases
- Support for export of layer to JSO

[2021-06-15 13:10] mkaze opened #117 "Add GlobalMaxPool3D layer"
Currently, the support for `GlobalMaxPool3D` is missing and it would be great if we could add support for this layer as well. The desired PR addressing this issue should include:

- Implementation of layer class named as `GlobalMaxPool3D` (you can take inspiration from implementation of [`GlobalMaxPool1D`][1] as reference)
- Documentation of layer.
- Test cases
- Support for export of layer to JSO

[2021-06-15 13:54] #79 closed

[2021-06-15 14:01] zaleslaw commented on #117
So, are you going to create PR by yourself or we will mark it with the "good first issue"?

[2021-06-15 14:01] zaleslaw commented on #116
So, are you going to create PR by yourself or we will mark it with the "good first issue"?

[2021-06-15 14:32] zaleslaw opened #118 "Missed documentation in Conv classes hierarchy"
After merging I recognized that the KDocs for the Conv class hierarchy are missed

Please add KDocs for all classes, methods, and fields in the following classes

- [ ] AbstractConv (class, properties, methods)
- [ ] Conv1D (methods)
- [ ] Conv2D (methods)
- [ ] Conv3D (methods)
- [ ] DepthwiseConv2D (methods)

I suppose that enough to define good KDoc for the parent (protected) method of property

[2021-06-15 14:32] zaleslaw commented on #118
@avan1235 will you take this ticket?

[2021-06-15 14:38] zaleslaw opened #119 "Convert tutorials in md format to Jupyter Notebooks with Kotlin kernel"
Currently, we have tutorials in "/docs" folder with snippets of code, we need to move forward and convert them to the runnable notebooks (probably based on the existing examples stored in the release branch)

[2021-06-15 14:39] zaleslaw commented on #113
I created an issue #119  related to first step - tutorial conversion to the notebooks

[2021-06-15 14:46] zaleslaw opened #120 "Add model name to the summary method"
Our models could have names, but the current version of _summary_ method (for both, Sequential and Functional models) doesn't support model name displaying.

The PR should include:
- [x] model name support for both, Functional and Sequential model
- [x] the missed model name case is handled correctly
- [x] SequentialCompilationTest.summary should be updated for validation model name
- [ ] Test for

[2021-06-15 14:48] avan1235 commented on #119
I just started doing this task and see a single thing that would be prefered to be done before. When using the library in the IDE we definitely benefit from using the autoimport feature. As I understood the [kotlin jupyter documentation](https://github.com/Kotlin/kotlin-jupyter/) there should be a possibility to specify the default imports for the library used in notebook.

It has to be discussed

[2021-06-15 14:51] avan1235 commented on #118
Yes, of course, as it is my fault that I didn't provide them with the code

[2021-06-15 14:55] avan1235 commented on #113
Great, so we can leave this topic for now util some visualization functions would be available (as official or dev release) and now will focus on the tutorials in notebook formats to see if they can be a better approach than markdown files

[2021-06-15 14:55] zaleslaw opened #121 "Add Cropping1D and Cropping3D layers"
Currently, the support for `Cropping1D` and `Cropping3D`  are missed, and it would be great if we could add support for these layers. The desired PR addressing this issue should include:

- [ ]  Implementation of layer class named as `Cropping1D` (you can take inspiration from the implementation of [`Cropping2D`][1] as reference)
- [ ]   Implementation of layer class named as `Cropping3D` (you can

[2021-06-15 14:59] zaleslaw commented on #119
@ileasile could you give us advice, looks like the auto-importing is supported when the library definition is added, isn't it?

[2021-06-15 15:02] zaleslaw opened #122 "Add ZeroPadding1D and ZeroPadding3D layers"
Currently, the support for `ZeroPadding1D ` and `ZeroPadding3D `  are missed, and it would be great to add support for these layers. The desired PR addressing this issue should include:

- [ ]  Implementation of layer class named as `ZeroPadding1D ` (you can take inspiration from the implementation of [`ZeroPadding2D `][1] as reference)
- [ ]   Implementation of layer class named as `ZeroPadding3D

[2021-06-15 15:06] zaleslaw opened #123 "Add RepeatVector layer"
Currently, the support for `RepeatVector ` is missed, and it would be great to add support for these layers. The desired PR addressing this issue should include:

- [ ]  Implementation of layer class named as `RepeatVector ` (you can take inspiration from the implementation of [`Reshape`][1] as reference)
- [ ]  Documentation of layer and all non-private methods
- [ ]   JUnit tests in `api ` modul

[2021-06-15 15:32] zaleslaw opened #124 "Add Conv1DTranspose, Conv2DTranspose, Conv3DTranspose layers"
Currently, the support for `Conv2DTranspose` and `Conv3DTranspose`, `Conv1DTranspose`  are missed, and it would be great to add support for these layers. The desired PR addressing this issue should include:

- [ ]  Implementation of layer class named as `Conv2DTranspose` (you can take inspiration from the implementation of [`Conv2D`][1] as reference)
- [ ]  Implementation of layer class named as `

[2021-06-15 15:38] zaleslaw opened #125 "Add SeparableConv1D layer"
Currently, the support for `SeparableConv1D ` is missed, and it would be great to add support for this layer. The desired PR addressing this issue should include:

- [ ]  Implementation of layer class named as `SeparableConv1D ` (you can take inspiration from the implementation of [`Conv1D`][1] and [`SeparableConv2D`][4] as reference)
- [ ] Common hierarchy of all SeparableConv layers with abstrac

[2021-06-15 18:49] altavir commented on #32
You can probably use multiplatform tensor API in KMath. We plan to add additional backends in the future.

[2021-06-15 21:17] dosier commented on #120
I could do this one :)

[2021-06-15 21:52] dosier commented on #120
@zaleslaw to what extend do both summary methods have to be refactored? E.g. does the method signature have to change at all?

[2021-06-15 22:16] kokorins commented on #78
I've just read a code a bit and decided to contribute. As there were no action until the Pull Request, I havent expected any parallel work.

Can someone share the code style for the project (IntelliJ xml or something of those lines)?

[2021-06-16 02:35] mkaze commented on #116
@zaleslaw, :smiley: All right, I'll take it.

[2021-06-16 07:37] zaleslaw commented on #78
It's ok @kokorins, no code style/contribution guideline in the project yet ( we are working on it).

I've committed some days ago` gradle.properties` file with the setting `kotlin.code.style=official`, so it's enough, for now, to apply Ctrl+Alt+L to the file and remove double blank lines

[2021-06-16 07:41] zaleslaw commented on #120
I've changed the ticket description regarding refactoring: the refactoring will be optional, the API is not under stability guarantees and could be changed.

The refactoring is just an idea, looks like it could be refactoring, but it's your choice as a contributor: propose the refactoring (with minor changes in the signature that doesn't affect all examples and tests) because there is some copy-pa

[2021-06-16 09:03] #94 closed

[2021-06-16 09:03] #106 closed

[2021-06-16 10:23] dosier commented on #120
@zaleslaw do the above commits cover the first 3 points in this issue sufficiently? Or is this not what you meant. And I can look into the refactoring yes.

[2021-06-16 10:44] dosier commented on #89
I found two potentially useful projects with regards to writing h5
* https://github.com/h5jan/h5jan-core
* https://github.com/saddle/jhdf5

[2021-06-16 11:08] dosier commented on #58
Nevermind the KTor part, it came to mind because it has a nice syntax for handling serialisation (e.g. https://ktor.io/docs/kotlin-serialization.html#register_arbitrary_converter).
But now to think of it if we probably don't want to define the serialiser when we define the model but rather let the user provide it when saving the model. That way they can easily save the same model using multiple se

[2021-06-16 11:16] dosier opened #133 "[API] Create DSL for initialising a model"
This would be great for initialising additional fields of the model.

That way I could do e.g.
[code]

Instead of
[code]

[2021-06-16 11:31] zaleslaw commented on #120
I've added the [Contributing Guidelines](https://github.com/JetBrains/KotlinDL/blob/master/CONTRIBUTING.md). Please check this.

[2021-06-16 11:32] zaleslaw commented on #120
You solution is simple and solves the problem

[2021-06-16 11:33] zaleslaw commented on #112
P.S Read the [Contributing Guidelines](https://github.com/JetBrains/KotlinDL/blob/master/CONTRIBUTING.md).

[2021-06-16 11:33] zaleslaw commented on #89
P.S Read the [Contributing Guidelines](https://github.com/JetBrains/KotlinDL/blob/master/CONTRIBUTING.md).

[2021-06-16 15:19] therealansh commented on #122
Hey @zaleslaw can i take up on this?

[2021-06-16 16:28] avan1235 opened #135 "Change the TrainableModel::summary API to return `ModelSummary`"
In current implementation the [TrainableModel::summary](https://github.com/JetBrains/KotlinDL/blob/2e529a89058617e22fd81e783c7b1af07c1cbfa9/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/core/TrainableModel.kt#L317) return the list with the descriptions for the following layers.

This information is readable but doesn't allow for easy transformation of model summary gathered data as it is give a

[2021-06-16 16:57] zaleslaw commented on #122
Of course, @therealansh it's yours

[2021-06-17 11:38] dosier commented on #120
Maybe the refactor part and writing a test is better suited as a part of #135 than this issue @zaleslaw ?

[2021-06-17 12:46] dosier commented on #123
I could do this one :)

[2021-06-17 13:05] dosier opened #137 "Can we add our author tag in KDoc when we make a new class?"
So say I write an unique class or do significant work in someone else's class, can I add my author tag to it, e.g.:
[code]

[2021-06-17 13:06] dosier commented on #137
Now to think of it, sorry I should probably not have turned this into an issue but rather communicate through the discussion board. I'll leave it here for now.

[2021-06-17 13:11] zaleslaw commented on #120
I suggest do things step by step, the final form of model summary is unclear and there are a few moments related to logging, jupyter integration and so on.

I suggest to finish this ticket and if the form of summary will be changed, we will not ignore the modelname

[2021-06-17 13:31] mkaze commented on #121
I'll take this one.

[2021-06-18 03:57] dosier commented on #123
Hey @zaleslaw I am a bit lost on how best to write tests for RepeatVector class. Should I dig into the unit tests of Keras and convert them to Kotlin, or come up with tests myself?

[2021-06-18 04:48] zaleslaw commented on #123
If the logic is simple, like in max pooling 2d layer, you could make it as you wish, if it includes complex calculations you could use some numerical data from keras, but you don't need make full copy of its tests, 1 or 2 for forward and main exceptions or cornerstones. Or you could use keras to pass input and get output of the tested layer.

[2021-06-18 09:57] dosier commented on #123
@zaleslaw alright. I added a simple test in https://github.com/dosier/KotlinDL/commit/bf61c5db2a2308d6b7ea547a7b44ac7fb1ba34c4. This is probably not enough though. What do u mean by cornerstones?

[2021-06-18 10:09] dosier commented on #125
Is  [AbstractConv](https://github.com/JetBrains/KotlinDL/blob/master/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/core/layer/convolutional/AbstractConv.kt) to be the implementation of `keras.layers.Conv` in Keras?

[2021-06-18 11:01] dosier commented on #125
I might be able to do this, not quite sure if I understand it well enough to do this properly.

Is `SerpableConv` supposed to override `AbstractConv` or stand on its own? I take it should override. I noted in the Keras code that `SerpableConv `has support for two kernels (`depthwise_kernel` and `pointwise_kernel`), so should the parent `kernel` in `AbstractConv` be ignored here?

[2021-06-18 17:30] avan1235 commented on #124
I would like to take this issue to get to know the ConvTranspose layers if it possible 😊

[2021-06-19 11:33] mkaze opened #142 "Add Permute layer"
Currently, the support for Permute layer is missing and it would be great if we could add support for this layer as well. The desired PR addressing this issue should include:

- Implementation of layer class named as Permute (hint: you can use `tf.linalg.transpose(...)` for forward pass of this layer).
- Documentation of layer.
- Test cases
- Support for export of layer to JSON (see [ModelSaver.kt

[2021-06-19 11:38] mkaze opened #143 "Add UpSampling layers"
Currently, the support for UpSampling layers is missing and it would be great if we could add support for these layers as well. The desired PR addressing this issue should include:

- [ ]  Implementation of layers classes named as `UpSampling1D`, `UpSampling2D` and `UpSampling3D`.
- [ ]  Common hierarchy of all UpSampling layers with abstract class with the common functionality
- [ ]  Documentatio

[2021-06-19 11:41] mkaze opened #144 "Add Dot layer"
Currently, the support for the Dot layer is missing and it would be great if we could add support for this layer as well. The desired PR addressing this issue should include:

- [ ] Implementation of layer class named as `Dot` inherited from the [AbstractMerge ](https://github.com/JetBrains/KotlinDL/blob/master/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/core/layer/merge/AbstractMerge.kt) cla

[2021-06-19 11:45] therealansh commented on #142
I'll like to work on this one.

[2021-06-21 09:23] mkaze commented on #143
I'll take this one.

[2021-06-21 09:42] zaleslaw commented on #144
Good issue, we could put it on the roadmap

[2021-06-21 09:48] zaleslaw commented on #124
I'm not sure about the Conv1DTranspose layer, it's not added to the Keras, please write here, if you have any ideas/or found some useful articles about its implementations

[2021-06-21 09:51] zaleslaw commented on #143
It's a very interesting bunch of layers, @mkaze good luck with that, it includes a lot of functionality in the Keras, we should try to avoid repeating all of it, ignoring things not related to the current state of the KotlinDL

[2021-06-21 09:51] avan1235 commented on #124
I found it [here](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv1DTranspose) and then think about adding also to KotlinDL. Isn't it the layer that we are thinking about?

[2021-06-21 09:52] mkaze commented on #124
@zaleslaw Actually, it exists in TF Keras: https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv1DTranspose
But it's not listed in Keras doc website. And, for the moment, Keras actually just redirects to TF Keras.

[2021-06-21 10:32] zaleslaw commented on #107
Great job @dosier congrats you with the first contribution

[2021-06-21 10:32] #107 closed

[2021-06-21 11:05] #120 closed

[2021-06-21 11:18] zaleslaw commented on #137
So, this is an ancient and outdated practice from ancient times (like Java 1.0), then developers did not use Git or SVN.
In many cases, it means not the real author who created the code but the maintainer or contact person for this class or functionality.

So, your authorship is written to the Git and also your effort is displayed [here ](https://github.com/JetBrains/KotlinDL/graphs/contributors)

[2021-06-21 12:08] zaleslaw commented on #125
I suggest creating AbstractSeparableConv looking to the AbstractConv, but without inheritance.
There are a lot of different fields there: initializers, regularizers, kernels

If it makes sense, we merge these class hierarchies

[2021-06-21 12:15] zaleslaw commented on #124
Great @mkaze @avan1235 I've updated an issue

[2021-06-21 13:57] dosier commented on #137
@zaleslaw thanks explanation, and the SO discussion was an interesting read!

[2021-06-21 13:57] #137 closed

[2021-06-21 14:11] therealansh commented on #142
Hey @mkaze the Permute layer implementation in keras uses `perm` which is a tuple. While in the `tf.linalg.transpose(...)` perm needs to be of `Operand<U extends Number>` . I dont think we can typecast a tuple(IntArray) into Number(Int)?

[2021-06-21 14:35] mkaze commented on #142
@therealansh As far as I understand, the all `Operand` values resolve in a `Tensor` and therefore the `U` in `Operand<U>` refers to the underlying datatype of each single element of `Tensor` (e.g. `Float`, `Int`, etc.).
So you can simply put the permutation in an `IntArray` and then use `tf.constant`, like `tf.constant(permArray)`, to create an instance of `Constant<Int>` (which is a basically a s

[2021-06-21 14:39] zaleslaw commented on #142
Agree with @mkaze tf.constant will work for the array in this case, look at [this ](https://github.com/JetBrains/KotlinDL/blob/master/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/core/layer/reshaping/Flatten.kt#L29) in Flatten

[2021-06-21 14:43] dosier opened #145 "Improve test readability (Layer invoke operator)"
I propose that we create something akin to this (but then as a function of `Layer`):
[code]
So that we can do this:
[code]
Which also nicely matches tests in Keras (the invoke part).

[2021-06-21 16:39] #64 closed

[2021-06-21 22:22] kokorins opened #148 "SequentialInferenceTest takes too long (15+ minutes on my machine)"
it's worth simplify or add some description how to run just unit tests and separate long running "integration" tests in a separate gradle command.

[2021-06-23 12:39] zaleslaw commented on #148
Hi, @kokorins

The running of the JUnit test only is possible via `api:test` like it described in the [Contribution Guidelines](https://github.com/JetBrains/KotlinDL/issues/145) file

[2021-06-23 13:03] zaleslaw commented on #145
It's an interesting idea, @dosier , this looks like a special functionality for testing and debugging purposes only, and we have no such functionality. I'm not sure that we should have this in the public API because it creates a separate graph for the layer under the hood.

Currently, the @mkaze is working on the same thing but external to Layer in #103.

But this idea not bad, and probably we cou

[2021-06-23 14:29] zaleslaw commented on #123
hmm, maybe test for the negative number n=-10, for example, to get an IllegalArgumentException (you could use `require` in Kotlin for this)

[2021-06-23 15:01] mkaze opened #151 "[Feature Request] Multi input/output models"
As far as I understand, creation of a model with multiple input and/or output layers is not supported yet. Although these models are less common compared to single input/output models, but it makes sense to support them (probably not in near-future releases, though). So this could serve as a place to discuss the feasibility, API design and implementation of this feature.

[2021-06-23 15:23] mkaze opened #152 "The meaning of `isTrainable` property of a layer"
I am a bit confused about the meaning of `isTrainable` property of layers, so I decided to create this issue to ask for clarification.

In Keras, there is a boolean `trainable` attribute for each layer which indicates whether the weights of a layer (if it has any) should be updated during training or not (i.e. whether the layer is freezed or not during training). This is always set to `True` upon

[2021-06-23 15:58] #118 closed

[2021-06-23 16:16] zaleslaw commented on #152
Hi, this is a good question:

1. You found a typo; it should be "and could not be changed."
2. The problem is the following: only part of TF ops have gradients (implemented [here](https://github.com/tensorflow/tensorflow/tree/r1.15/tensorflow/cc/gradients)) and could be used during training, a few layers like DepthwiseConv2D, Concatenate, SeparableConv2D, and so on.
3. Some layers like BatchNorm (

[2021-06-23 16:43] mkaze commented on #152
Interesting, weird and confusing at the same time! All these years I thought the Python API of TF is just a high-level wrapper around its C++ core implementation, or at least most of its functionalities are delegated to its C++ core implementation. Now, it's a surprise for me to see that it's not actually the case and something like gradients are not fully supported in C++ implementation and are b

[2021-06-24 07:22] mkaze opened #153 "Load trainability status of layers when importing them from JSON configuration"
Similar to #107, the trainability status of a layer is not taken into account when importing it from JSON configuration, e.g. if a layer is freezed in the saved JSON configuration it might be loaded as trainable (depending on the default value of `isTrainable` property for that layer).

To fix this, either each of the layer creator functions in `ModelLoader.kt` should be modified to set the `isTra

[2021-06-24 07:35] dosier commented on #125
I will see if I can get this one done in the weekend.

[2021-06-24 14:17] zaleslaw commented on #153
I agree that it could be implemented now, but in reality, we need to add more check/IllegalStateExceptions if the layer implementing the NoGradients layer has an `isTrainable == true ` status.

The idea is the following: layers with NoGradient marker interface should have this status as `false`.

[2021-06-24 14:29] zaleslaw commented on #133
I'd like your ideas @dosier , so I suppose Kotlin could give us more for creating and describing the neural networks and creating a special DSL at the top of the "Keras API" then it will be finished and stabilized during the 0.4 release, probably

[2021-06-24 14:34] #116 closed

[2021-06-24 16:36] #117 closed

[2021-06-24 16:37] #123 closed

[2021-06-29 13:53] rcd27 opened #155 "Confusing logs when using Keras model"
I've loaded a trained model with its weights and config file, like shown in https://github.com/JetBrains/KotlinDL/blob/master/docs/importing_keras_model.md
There are some logs with `INFO` tag, which look a bit confusing for person, who is not yet comfortable with Keras/Tensorflow:
![image](https://user-images.githubusercontent.com/20042955/123809549-5dad6380-d8fa-11eb-8e49-637e46d3437d.png)

Maybe

[2021-07-01 12:57] saf59 opened #156 "Add LSTM layer"

[2021-07-08 02:59] dosier commented on #153
I can do this one

[2021-07-08 03:00] dosier commented on #156
Hey!

Please refer to the contribution guidelines when submitting an issue: https://github.com/JetBrains/KotlinDL/blob/master/CONTRIBUTING.md

[2021-07-08 03:05] dosier commented on #155
I agree, then maybe the number of parameters loaded could be added to the `no weights loading for ...` prints (or as separate prints). Might be good to move this to the [discussions](https://github.com/JetBrains/KotlinDL/discussions) section.

[2021-07-08 03:27] dosier commented on #153
How about something like this:
[code]
in
https://github.com/JetBrains/KotlinDL/blob/2a5d580920a80e94f706562413f00ecf6c20dce9/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/inference/keras/ModelLoader.kt#L112

And then I remove all the manual assignments of `isTrainable` for the `NoGradients` implementations.

[2021-07-08 03:36] dosier commented on #153
Should these checks u mention for NoGradients layers be applied only to these, or to other layers as well. Because some layers do set `isTrainable` to `false` but do not implement NoGradients. So should these other layers implement NoGradients, or should we make another interface that every non trainable layers extends?

[2021-07-08 04:00] dosier commented on #153
Yo @zaleslaw or @mkaze what do ya think about something like this:
https://github.com/dosier/KotlinDL/commit/8e414181137945557d3a8802985869a93e1f15e8

I don't really like how the default value is `true` but can't nicely change it to something like:
[code]
without leaking `this`  in the constructor.

I see three options:
- keep it like in the commit I made
- leak `this` in constructor of Layer clas

[2021-07-08 05:23] dosier commented on #148
How about that long-running tests are always performed before a PR is merged into the main branch, but are optional for making a PR and contributing to that PR? That way short tests can still be performed during development whilst not hindering devs from working. Ideally these final tests could be performed on a central server 😉 @zaleslaw.
I am not sure if something like this could be automated an

[2021-07-08 20:09] dosier commented on #152
What about the merge, activation and reshaping layers? I take all of those should also have `isTrainable == false`?

[2021-07-23 12:11] zaleslaw commented on #71
The documentation for the 0.2 version was added here https://jetbrains.github.io/KotlinDL/index.html

[2021-07-23 12:16] #71 closed

[2021-07-27 10:29] zaleslaw opened #160 "ModelSaver fails on saving Input with 2d and 3d tensors"
During saving model, trained on IrisData

[code]

it fails with the

[code]

due to unfixed [TODO ](https://github.com/JetBrains/KotlinDL/blob/master/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/inference/keras/ModelSaver.kt#L64)in ModelSaver

1. Please, fix the bug to handle not only images, but all situations to save the Input layer correctly to JSON config
2. It should work in both ways: fo

[2021-07-27 12:47] zaleslaw opened #161 "Incorrect temporary folder for the cat-vs-dogs dataset"
WE have incorrect paths in the [embeddedDatasets.kt](https://github.com/JetBrains/KotlinDL/blob/master/api/src/main/kotlin/org/jetbrains/kotlinx/dl/dataset/embeddedDatasets.kt#L276): the temporary data.zip is loaded to the `datasets/catdogs/data.zip` instead of `datasets/dogs-vs-cats/data.zip`

1. Fix the issue
2. Refactor String constants moving common parts to one common constant
3. Check that t

[2021-07-27 14:09] zaleslaw opened #162 "Add ability to call image preprocessing on the given file via invoke operation"
At this moment we have pre-defined preprocessing with a pre-defined file in the `load `DSL operator.
Nice to have a parameter in the invoke operator instead to apply the described earlier preprocessing in the many places for many file (probably with images size and channels parameters too)

[2021-07-27 15:08] funkstermonster commented on #161
Hi! I started working on it. Can I have access this repo to assign it for me?

[2021-07-27 15:13] funkstermonster commented on #161
I commited the solution. Would be grateful, if I could push them to a separate branch and open a pr.

[2021-07-27 15:40] mkaze commented on #161
@funkstermonster Thank your for your interest and contribution. You should first fork this repository and push your commits to your own fork on Github. Then you will be able to make a Pull Request (PR) to merge your changes to this repository. Please see this guide for more info: https://github.com/firstcontributions/first-contributions#first-contributions

Also, please review the contributing gui

[2021-07-27 16:56] funkstermonster commented on #161
I might have troubles linking the issue the and PR together, since the cog icon is missing for me.

[2021-07-28 02:27] mkaze commented on #161
@funkstermonster You just need to use one of the special keywords followed by the issue number in the PR description to link them together. See [this guide](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword) for some help and examples.

[2021-07-28 07:33] funkstermonster commented on #161
Thank you for your help. Linked the issue.

[2021-07-28 10:57] zaleslaw commented on #161
Thanks for the help for newcomers, @mkaze ! You are the best!
Dear @funkstermonster I'll do the review during the next 2 days and answer you in the linked PR
Welcome to the KotlinDL

[2021-07-28 11:05] zaleslaw opened #164 "CI failed on M1"
I used the MacOS machine with the M1 to run the tests and examples.
The following error was obtained:

[code]

[2021-07-28 13:05] #143 closed

[2021-07-28 17:08] #121 closed

[2021-07-29 05:17] zaleslaw opened #165 "Add Gelu activation function"
The Gelu activation function is missed in KotlinDL.

The desired PR addressing this issue should include:

- [ ]  Implementation of activation class named as `GeluActivation` (you can take inspiration from the implementation of [`HardSigmoid`][1]  as reference) added to the [`Activations.kt`][2] file
- [ ] Add an approximate version of Gelu
- [ ]  Documentation of activation function
- [ ]  JUnit

[2021-07-29 05:33] zaleslaw opened #166 "Add HardShrink activation function"
The Hard shrink activation function is missed in KotlinDL.

The desired PR addressing this issue should include:

- [ ]  Implementation of activation class named as `HardShrinkActivation` (you can take inspiration from the implementation of [`HardSigmoid`][1]  as reference) added to the [`Activations.kt`][2] file
- [ ]  Documentation of activation function
- [ ]  JUnit tests in `api ` module
- [ ]

[2021-07-29 05:37] zaleslaw opened #167 "Add LiSHT activation function"
The LiSHT (Non-Parametric Linearly Scaled Hyperbolic Tangent) activation function is missed in KotlinDL.

Read more about [LiSHT: Non-Parametric Linearly Scaled Hyperbolic Tangent Activation Function for Neural Networks](https://arxiv.org/abs/1901.05894)

The desired PR addressing this issue should include:

- [ ]  Implementation of activation class named as `LishtActivation` (you can take inspira

[2021-07-29 05:42] zaleslaw opened #168 "Add Mish activation function"
The Mish activation function is missed in KotlinDL.

Read more about [Mish: A Self Regularized Non-Monotonic Neural Activation Function](https://arxiv.org/abs/1908.08681)

The desired PR addressing this issue should include:

- [ ]  Implementation of activation class named as `MishActivation` (you can take inspiration from the implementation of [`HardSigmoid`][1]  as reference) added to the [`Acti

[2021-07-29 05:46] zaleslaw opened #169 "Add Snake activation function"
The Snake activation function is missed in KotlinDL.

Read more about [Snake](https://arxiv.org/abs/2006.08195)

The desired PR addressing this issue should include:

- [ ]  Implementation of activation class named as `SnakeActivation` (you can take inspiration from the implementation of [`HardSigmoid`][1]  as reference) added to the [`Activations.kt`][2] file
- [ ]  Documentation of activation fu

[2021-07-29 05:48] zaleslaw opened #170 "Add Soft shrink activation function"
The Soft shrink activation function is missed in KotlinDL.

The desired PR addressing this issue should include:

- [ ]  Implementation of activation class named as `SoftShrinkActivation` (you can take inspiration from the implementation of [`HardSigmoid`][1]  as reference) added to the [`Activations.kt`][2] file
- [ ]  Documentation of activation function
- [ ]  JUnit tests in `api ` module
- [ ]

[2021-07-29 05:50] zaleslaw opened #171 "Add Sparsemax activation function"
The Sparsemax activation function is missed in KotlinDL.

Read more about [From Softmax to Sparsemax: A Sparse Model of Attention and Multi-Label Classification](https://arxiv.org/abs/1602.02068)

The desired PR addressing this issue should include:

- [ ]  Implementation of activation class named as `SparsemaxActivation` (you can take inspiration from the implementation of [`HardSigmoid`][1]  as

[2021-07-29 05:52] zaleslaw opened #172 "Add Tanh shrink activation function"
The TanhShrinkactivation function is missed in KotlinDL.

The desired PR addressing this issue should include:

- [ ]  Implementation of activation class named as `TanhShrinkActivation` (you can take inspiration from the implementation of [`HardSigmoid`][1]  as reference) added to the [`Activations.kt`][2] file
- [ ]  Documentation of activation function
- [ ]  JUnit tests in `api ` module
- [ ]

[2021-07-30 11:57] zaleslaw commented on #168
Hi, @digantamisra98! Please leave a comment here to assign this ticket to you.
As I understand, you are the author of the Mish paper, a really great paper and results!

[2021-07-30 15:21] digantamisra98 commented on #168
@zaleslaw Yes, I am taking this up and will be happy to add others over the weekend (hopefully). Thank you for your compliment and willingness to add it in the library :)

[2021-07-30 15:24] zaleslaw commented on #168
@digantamisra98 I hope that KotlinDL could be more faster and open to DL innovations, will wait review request from you

[2021-07-30 15:32] digantamisra98 commented on #168
The PR is ready for review (I don't know if I can like request a review on the PR itself unless I'm a collaborator with write access).

[2021-08-02 08:48] zaleslaw opened #174 "Add TimeStopping callback"
It's an exciting idea to limit the training via the maximum limit of training time.

The idea is implemented in [tf-addons](https://www.tensorflow.org/addons/api_docs/python/tfa/callbacks/TimeStopping) and could be adopted in KotlinDL

The desired PR addressing this issue should include:

- [ ]  Implementation of TimeStopping callback
- [ ]  Documentation
- [ ]  Integration test with callback (see

[2021-08-02 14:42] zaleslaw opened #175 "Add ResNet18 and ResNet34 models to ModelZoo"
ResNet50+ models are too heavy for the simple CV tasks, but there are ResNet18 and ResNet34 models which could be added to the ModelZoo from the famous [repository ](https://github.com/qubvel/classification_models)

Also will be a plus to add models to the resnet light model package, the initial code compatible with the current API and architecture could be taken [here](https://github.com/keras-te

[2021-08-02 16:46] #175 closed

[2021-08-03 16:34] #142 closed

[2021-08-04 09:01] #168 closed

[2021-08-04 19:04] michalharakal commented on #170
Hello @zaleslaw, I would like to implement this one.

[2021-08-05 09:49] zaleslaw commented on #124
@avan1235 partially implemented this, but now have no time to finish this PR. It could be a good starting point for future implementations.

[2021-08-05 14:42] zaleslaw commented on #170
Great @michalharakal will wait a PR!

[2021-08-05 20:55] juliabeliaeva commented on #160
Hi, I'd like to work on this issue.

[2021-08-06 04:30] zaleslaw commented on #160
Great, @juliabeliaeva feel free to ask any question in this issue or on Kotlin slack

[2021-08-06 11:41] #122 closed

[2021-08-06 15:50] therealansh commented on #166
Hey @zaleslaw , i can take this one up to complete 0.3 milestones quick. But does Ops provide any comparison function since it requires lower and upper value to be compared?

[2021-08-06 16:01] zaleslaw commented on #166
Hmm, you right about upper/lower values. Could it be implemented via composition of tf.maximum(tf.minimum(input, lower), upper)?

[2021-08-08 08:48] zaleslaw opened #178 "Add copy method to the InferenceModel"

[2021-08-09 05:23] #178 closed

[2021-08-09 07:56] zaleslaw opened #180 "Move ImageDSL and Dataset API to the separate module"
API will depend on the `dataset` module.
It's required for the ONNX integration

[2021-08-09 13:11] #180 closed

[2021-08-09 14:40] mkaze commented on #174
I'll take this one.

[2021-08-09 15:55] zaleslaw commented on #174
Great @mkaze, assigned on you, if you have any ideas about callbacks feel free to share it here on make a topic in discussions

[2021-08-10 11:02] zaleslaw opened #184 "Add experimental ONNX integration"
The PR should contain:

- [x] ONNXModel implemented the common InferenceModel interface
- [x] new module with the whole ONNX related functionality
- [x] examples of ONNX usage for inference and transfer-learning
- [x] custom Tensor preprocessing based on ONNX models
- [x] ResNet models in the ONNXModelHub
- [x] SSD and YOLOv4 object detection models

[2021-08-11 10:43] #160 closed

[2021-08-11 12:38] #166 closed

[2021-08-11 18:30] therealansh commented on #165
@zaleslaw I'll start working on this next up.

[2021-08-15 12:14] rychuelektryk opened #189 "Model to predict result of sine function"
Hi,

I'm trying to learn KoltinDL api and I thought that as a first step I could use it to create simple NN model that predicts result of a sine function.

Is it even possible in current version of KotlinDL? It seems like the simpliest model one could try to create, bu I have a feeling that KotlinDL only supports classification models, and no regression models. Am I right?

It seems that predict f

[2021-08-16 05:33] femialaka commented on #172
I would like to work on this one, can you please send me a slack invite so I can discuss a few things, thanks in advance.

[2021-08-16 11:59] zaleslaw commented on #172
No need special invites to the kotlin slack, just register with your e-mail. Also, you could free ask me here, in this issue

[2021-08-16 12:41] femialaka commented on #172
When I was trying to run irisClassification in the examples I got the following error:

"No core dump will be written. Core dumps have been disabled. To enable core dumping, try "ulimit -c unlimited" before starting Java again"

Process finished with exit code 134 (interrupted by signal 6: SIGABRT)

I ran it on a Mac with an M1 chip I suspect this may be the cause?

[2021-08-17 03:59] cagriyildirimR commented on #169
I would like to work on this issue.

[2021-08-17 13:16] zaleslaw commented on #169
Will wait for your PR @cagriyildirimR !

[2021-08-17 14:13] #174 closed

[2021-08-17 14:17] zaleslaw commented on #172
Hi @femialaka please see the following [bug ](https://github.com/JetBrains/KotlinDL/issues/164)

The KotlinDL internally uses TF 1.15 runtime, which means you can use it only with the previous Mac without M1.

But I got different errors for the different combinations of OS and architectures. Could you please share with me the OS X version?

[2021-08-17 14:23] femialaka commented on #172
@zaleslaw sure, its Big Sur version 11.5.2 (M1 2020)

[2021-08-17 14:38] zaleslaw commented on #189
Hi @rychuelektryk You asked a good question, the Linear Regression works, for example (an [example](https://github.com/JetBrains/KotlinDL/blob/master/examples/src/main/kotlin/examples/ml/LinearRegression.kt))

Did you copy this example from Keras? Could you please share the Python code?

[2021-08-17 18:13] rychuelektryk commented on #189
Hi @zaleslaw and thanks for the answer. The keras equivalent would be something like this:

`
    import numpy as np
    from keras.models import Sequential
    from keras.layers import Dense
    from tensorflow.keras.optimizers import Adam
    import random
    import math

    def prepareInput():
        sampleCount = 100000

        x = np.random.rand(sampleCount, 1)

        x *= math.pi * 2

[2021-08-18 03:35] justinyue1643 commented on #144
My friend, @RandyHuynh5815, and I would like to take a shot at this task.

[2021-08-18 09:45] zaleslaw commented on #144
Hi! @justinyue1643, I assigned it to you

[2021-08-18 10:48] zaleslaw commented on #189
Yes, I've run and debugged your example; I need to fix this issue. Thanks for this; I hope to fix it and share the results here in the comments

[2021-08-18 13:05] #167 closed

[2021-08-20 08:11] #165 closed

[2021-08-20 08:12] #189 closed

[2021-08-20 08:14] zaleslaw commented on #189
@rychuelektryk thanks for trying KotlinDL, I fixed a label encoding, added your example with sin function and it will available in release 0.3 and its preview since 1 september

Also regression works well on the 0.1.1 version from maven central (dataset constructor is little bit different) because it was broken in 0.2 only

[2021-08-20 11:05] rychuelektryk commented on #189
@zaleslaw Great! I really appreciate your work. Keep it up and thanks ;-)

[2021-08-21 14:06] Rishit-dagli opened #192 "Add Leaky ReLU activation function"
It seems the Leaky ReLU activation function is missed in KotlinDL. I would love to contribute this if it sounds good.

[2021-08-21 14:34] mkaze commented on #192
@Rishit-dagli Actually, it has been already implemented as an activation layer; see [here](https://github.com/JetBrains/KotlinDL/blob/master/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/core/layer/activation/LeakyReLU.kt).

[2021-08-21 15:11] Rishit-dagli commented on #192
Ah, got it, I was looking for an activation function. Thanks!

[2021-08-21 15:11] #192 closed

[2021-08-24 10:40] #169 closed

[2021-08-24 16:50] juliabeliaeva opened #195 "Example ImagePreprocessing.kt does not start"
Example does not run as "data.properties" file with path to labels is missing. Docs do not specify how to create this file and where to find labels to load for this example.

See https://github.com/JetBrains/KotlinDL/blob/294a3aad9504d4c8bbf41628ab23623afda3605f/examples/src/main/kotlin/examples/dataset/ImagePreprocessing.kt#L38

[2021-08-24 16:51] juliabeliaeva opened #196 "Example PreprocessOnlyOneImage.kt does not start"
Absolute paths to input image and output directory are used so the example can not be started.

https://github.com/JetBrains/KotlinDL/blob/294a3aad9504d4c8bbf41628ab23623afda3605f/examples/src/main/kotlin/examples/dataset/PreprocessOnlyOneImage.kt#L31

[2021-08-24 19:27] juliabeliaeva opened #198 "Image preprocessing examples visualisation issues"
Image preprocessing examples `PreprocessOnlyOneImage.kt` and `ImagePreprocessing.kt` have issues with resulting image visualisation:
1. Black borders are shown around each pixel of the image.
2. Frame has an arbitrary size that not match image size so white border is displayed around the image.

[2021-08-26 16:51] zaleslaw opened #201 "Add CenterCrop image preprocessor"
The CenterCrop image preprocessor is missed in KotlinDL.
It should crop the given image at the center. If the image size is smaller than the output size along any edge, the image is padded with 0 and then center cropped.

The main question is: should we keep both Cropping and CenterCrop ops, or should it be merged in one operation?

The desired PR addressing this issue should include:

- [ ]  Impl

[2021-08-26 17:00] zaleslaw opened #202 "Add Grayscale image preprocessor"
The Grayscale image preprocessor is missed in KotlinDL.
Convert image to grayscale.

The main question is: should we keep the ImageShape with 3 channels or with 1 channel? Or support the difference via parameter like in PyTorch

The desired PR addressing this issue should include:

- [ ]  Implementation (you can take inspiration from the implementation of [`Cropping`][1]  as reference)
- [ ]  Docu

[2021-08-26 17:03] zaleslaw opened #203 "Add Padding image preprocessor"
The Padding image preprocessor is missed in KotlinDL.
Pad the given image on all sides with the given “pad” value.

The desired PR addressing this issue should include:

- [ ]  Implementation (you can take inspiration from the implementation of [`Cropping`][1]  as reference)
- [ ]  Documentation
- [ ]  JUnit tests in `dataset` module
- [ ]  An example with usage of this image preprocessor

[1]: ht

[2021-08-26 17:06] zaleslaw opened #204 "Add Normalize image preprocessor"
The Normalize image preprocessor is missed in KotlinDL.
Normalize a tensor image with mean and standard deviation. This transform does not support PIL Image. Given mean: (mean[1],...,mean[n]) and std: (std[1],..,std[n]) for n channels, this transform will normalize each channel of the input torch.*Tensor i.e., output[channel] = (input[channel] - mean[channel]) / std[channel]

The main question is:

[2021-08-31 15:48] zaleslaw commented on #170
Hi, @michalharakal Do you have any updates on this issue? Do you need some help from my side?

[2021-08-31 15:48] zaleslaw opened #207 "basic tests for ONNX module"

[2021-08-31 16:32] femialaka commented on #207
I would like to work on this one

[2021-08-31 16:50] michalharakal commented on #170
@zaleslaw, sorry for delay, I was just busy with other stuff, by accident I could gave on a Kotlin related conference as backup. I plan to have a look on issue this weekend.
In case, this issue is time critical, feel free to reassigne it, I will pick another one later, if I have more time.

[2021-08-31 17:23] #184 closed

[2021-08-31 17:39] zaleslaw commented on #135
Hi, @knok16. Give me a few days to think about it; I'll return to you in a couple of days.

[2021-09-01 10:11] zaleslaw commented on #207
Great @femialaka fill free to create draft PR and ask some questions or create the list of tests before implementation to discuss here, in the issue's comments.

[2021-09-01 12:13] zaleslaw commented on #170
I'm absolutely ok with that. I just ping you to help if something is unclear. It's not a critical issue, I moved it to the 0.4 release

[2021-09-01 16:36] juliabeliaeva opened #208 "Image preprocessing issues"
1. Adding new image preprocessing operations is difficult as it requires adding new fields to `ImagePreprocessing` class and adjusting `Preprocessing#finalShape` and `Preprocessing#handleFile`.
2. Order in which operations are defined is not respected.

[2021-09-02 11:54] zaleslaw opened #211 "Add input/outputShape information to all KDocs of layers"
We need to have better documentation for our layers.
A few layers have inputShape/outputShape information in the KDocs, copied from Keras documentation, for example
[GlobalAvgPool2D](https://github.com/JetBrains/KotlinDL/blob/41f0b20d3bfd6e277d8486d945cdef59a6250b9b/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/core/layer/pooling/GlobalAvgPool2D.kt#L20)

Please add the same documentation sectio

[2021-09-06 13:27] #195 closed

[2021-09-07 10:40] zaleslaw commented on #135
Thanks for lighting the problem @avan1235. I totally agree about that the existing solution is not good for notebooks.
So great to have a few data classes like @knok16 proposed.

I suppose the proposed solution should contain the following things:

- [ ] data classes for Model and layer summary
- [ ] printSummary and logSummary functions (logging could print on a console too)
- [ ] tests for Seque

[2021-09-07 10:53] knok16 commented on #135
Can I take it?

[2021-09-07 12:47] zaleslaw commented on #135
@knok16 Sure, it's yours

[2021-09-07 17:28] knok16 commented on #135
changes for pp 1-3 https://github.com/JetBrains/KotlinDL/pull/216
will do p.4 in separate PR, to not clutter this one

[2021-09-08 19:08] knok16 opened #217 "[API] [Layers] ParametrizedLayer/TrainableLayer interfaces to represent presence of parameters and trainability of the layer"
Hello, what about moving some aspects of Layer logic into separate interfaces, to offload Layer class?

For example, introduce ParametrizedLayer/TrainableLayer interfaces to encapsulate `isTranable` / `paramCount` logic and will be implemented only by layers that actually have variables/can be trained

[code]

Benefits:
- Layer class itself will become thinner and hence easier to grasp
- Untrainab

[2021-09-10 10:36] zaleslaw commented on #217
I'd like this idea in common, but suggest postponing for a 0.4 release.
What is about arranging a call to discuss the proposals? Could you write me on kotlinlang slack if you are ready to talk about it?

[2021-09-13 10:44] #152 closed

[2021-09-13 10:45] #156 closed

[2021-09-13 10:48] zaleslaw commented on #41
I agree with your argument about the importance of customization and it's a part of Keras's spirit too.
I suggest planning these API changes in the next release, 0.4.

We should raise a discussion and ask the community about a few of the proposed API changes.

[2021-09-13 10:50] zaleslaw commented on #125
Hi, @dosier Are you interested in continuing working on this issue?

[2021-09-13 10:51] knok16 commented on #41
Agree, it can break API, plus it can differ from Keras API, which is one more thing to consider.

[2021-09-13 10:52] zaleslaw commented on #144
Hi, @justinyue1643. Are you going to continue to work on this issue? It will be moved to the 0.4 milestone.

[2021-09-13 13:18] zaleslaw commented on #41
I suppose we could go far from the basic Keras API in a few moments to be a more Kotlin framework adopting the best Kotlin features

[2021-09-15 06:21] mkaze commented on #152
@zaleslaw

I just read [this RFC](https://github.com/tensorflow/community/blob/master/rfcs/20201201-cpp-gradients.md), but I am a bit confused. Just to get a better understanding of the situation for myself, as far as I know:
 - all of the TF APIs in languages other than C/C++ (e.g. Python, Java, etc.), at the end are basically calling the C/C++ code under the hood,
 - and all the **basic ops** in

[2021-09-15 07:49] zaleslaw opened #220 "Reduce the number of the copy-paste examples for the transfer-learning and inference"

[2021-09-15 13:37] femialaka commented on #207
hi @zaleslaw

For ONNXModelHub I propose an API which looks like the following:

		val model = ONNXModelHub("modelType")

the model object will contain a GraphTrainableModel

A basic test could confirm the model type and name.

[2021-09-15 14:40] #220 closed

[2021-09-16 05:06] femialaka commented on #207
For the first 3 tests I have the following suggestions

         ONNXModelHubTest
			assert that ONNXModelHub creates a directory for a pre-trained onnx model
			assert that ONNXModelHub can load the model

 	 OnnxInferenceModelTest
			assert that the correct onnx model is loaded - is this enough?

         ONNXModels (for each preprocessing)
		For this test I would like to ask for the best way to

[2021-09-17 11:38] zaleslaw commented on #152
Hi, @mkaze great to see you again
I'll try to answer all of your questions and leave a few comments from my side:

1. You mentioned the [RFC](https://github.com/tensorflow/community/blob/master/rfcs/20201201-cpp-gradients.md). yes, it exists, but not finished and merged into the codebase

2. This summer, a few new gradients were added to the [master branch](https://github.com/tensorflow/tensorflow

[2021-09-17 11:57] zaleslaw commented on #207
Hi, @femialaka will try to comment on your ideas.

  	```assert that ONNXModelHub creates a directory for a pre-trained onnx model``` - better to check it in the temp directory (use @TempDir Junit feature)
  	```assert that ONNXModelHub can load the model``` - do you want to check the model availability on S3?

```assert that the correct onnx model is loaded - is this enough?``
In the first, we ne

[2021-09-17 12:01] zaleslaw commented on #135
Mostly closed in the #216
I will release an artifact, load it to the Maven Central and make a double check on the Datalore and Jupyter notebooks

[2021-09-18 18:57] knok16 opened #223 "Dense layer without bias (useBias = false) throws `lateinit property bias has not been initialized`"
If `useBias = false` used for `Dense` layer
https://github.com/JetBrains/KotlinDL/blob/master/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/core/layer/core/Dense.kt#L58
`createDenseVariables` will not fill `bias` field
https://github.com/JetBrains/KotlinDL/blob/master/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/core/layer/core/Dense.kt#L95
https://github.com/JetBrains/KotlinDL/blob/master/

[2021-09-18 19:33] knok16 opened #224 "[API] [Layers] introduce separate Layer's subclasses to represent number of layer's inputs"
[code]

Benefits:

- Main benefit is that the arity of a layer will be checked by compiler
- Using Functional builder it will not be possible to write the next code:
	- Add()(x) - there is no a point in adding single input
	- Softmax()(x, y, z) - Softmax layer accept a single input layer and in current implementation will just ignore y and z layers - which can create confusion
- Layers will not ha

[2021-09-19 09:58] mkaze commented on #152
@zaleslaw Thank you for your reply and explanations. I appreciate it.

But still I don't understand why the coverage of TF Java API is limited compared to TF Python API? I mean is there any specific obstacle/limitation related to Java or the underlying C API of TF, or is it only because no one has invested enough time and effort to extend the TF Java API?

[2021-09-20 09:12] zaleslaw opened #226 "Fix this line with `File.separator` in the Save and Load preprocessors"
How about fix this line with `File.separator`? This is not correct for unix systems now.

_Originally posted by @YokiToki in https://github.com/JetBrains/KotlinDL/pull/209#discussion_r711235590_

[2021-09-20 09:14] zaleslaw opened #227 "[Preprocessing] Split the Load preprocessing stage into two parts: LoadFile and LoadDir"
We need to split the logic of loading into two parts. Now it's mixed and could be wrongly interpreted.

[2021-09-20 09:23] zaleslaw commented on #223
Hi, @knok16, are you going to fix it by yourself, or I do that?

[2021-09-20 09:32] knok16 commented on #223
Yes, please, assign it to me, I'll try to fix it this week

[2021-09-20 09:48] zaleslaw commented on #152
Java API for TF used auto-generation to generate Java classes for exposed C API, and it regenerates from time to time (in the case of [Java API for TF 2.x](https://github.com/tensorflow/java))

This corresponds to the ops generated in python, [gen_nn_ops ](https://github.com/tensorflow/tensorflow/blob/cf19edcdc547dc71f3a22c1f87247e8881adacd9/tensorflow/python/ops/nn_ops.py#L506) for example.

The

[2021-09-20 10:48] #208 closed

[2021-09-20 13:38] juliabeliaeva opened #228 "`ImageConverter` and `Loading` do not close opened streams"
See:
https://github.com/JetBrains/KotlinDL/blob/540bf0316d38d6216ef99b8afd8403cdd72e8889/dataset/src/main/kotlin/org/jetbrains/kotlinx/dl/dataset/preprocessor/image/Loading.kt#L40
https://github.com/JetBrains/KotlinDL/blob/540bf0316d38d6216ef99b8afd8403cdd72e8889/dataset/src/main/kotlin/org/jetbrains/kotlinx/dl/dataset/image/ImageConverter.kt#L31
https://github.com/JetBrains/KotlinDL/blob/540bf031

[2021-09-20 14:17] juliabeliaeva commented on #226
There are several places where windows separator are used. Another one is here:
https://github.com/JetBrains/KotlinDL/blob/540bf0316d38d6216ef99b8afd8403cdd72e8889/api/src/main/kotlin/org/jetbrains/kotlinx/dl/dataset/handler/Cifar10Util.kt#L36
I have the patch for these two places, but as it conflicts with changes in #225, I have not send it yet.

There are also usages of windows separators and ab

[2021-09-20 14:58] zaleslaw opened #230 "StackOverflowError in objectDetectionSSD.kt example"
Exception in thread "main" java.lang.StackOverflowError
	at org.jetbrains.kotlinx.dl.api.inference.onnx.ONNXModels$ObjectDetection$SSD.pretrainedModel(ONNXModels.kt:171)
	at org.jetbrains.kotlinx.dl.api.inference.keras.loaders.ModelHub.loadPretrainedModel(ModelHub.kt:55)
	at org.jetbrains.kotlinx.dl.api.inference.keras.loaders.ModelHub.loadPretrainedModel$default(ModelHub.kt:51)
	at org.jetbrains.

[2021-09-20 15:23] #228 closed

[2021-09-20 17:39] knok16 commented on #223
https://github.com/JetBrains/KotlinDL/pull/232

[2021-09-20 18:40] knok16 opened #233 "[API] Layer API simplification"
`Layer` is a core concept of the library, so it will be beneficial to keep it as simple, concise, and straightforward as possible. To achieve this simplicity I suggest the next changes:
1. Remove unnecessary logic from `Layer`, split it into smaller subclasses that will encapsulate one particular aspect of the `Layer`, convert `Layer` class into an interface.
	- Introduce `ParametrizedLayer`/`Trai

[2021-09-21 05:47] #230 closed

[2021-09-21 06:07] zaleslaw commented on #226
@juliabeliaeva I merged the #225 .
It will be really helpful to get this patch or PR, but I'm a little bit confused about this separator (I've tested the 0.1 and 0.2 release on Ubuntu and macOS and it seems to work fine on both of them with the same separator).

P.S. I remember this problem with separators a few years ago when I was working on a project which used a file system a lot of the time a

[2021-09-21 06:14] zaleslaw commented on #233
Great summarization of a few proposals that have been discussed in the past with you. So I suggest arranging a meeting in October with other community members to discuss it.

So, I'll arrange the meeting and invite you to come and discuss it.

I suppose that when the most part of the required Keras functionality is implemented, we could move forward to make KotlinDL more kotlinish!

[2021-09-21 10:16] juliabeliaeva commented on #226
`Save` preprocessor works with windows separators, it just saves the file in the wrong place and I guess this is not tested. As for `Cifar10Util`, yes, the code is unused.

[2021-09-21 10:39] zaleslaw commented on #226
Agree, I never tested Save preprocessor yet. So, thanks for fix, I've run TC for that.

[2021-09-21 12:04] knok16 commented on #233
great! agree that it should be discussed and I'm ready to do it.

[2021-09-21 12:11] #161 closed

[2021-09-21 14:18] #226 closed

[2021-09-22 08:36] zaleslaw commented on #135
I've checked the 0.3.0-alpha-4 artifact, print summary works as expected and this issue has been fixed.

[2021-09-22 08:36] #135 closed

[2021-09-22 08:47] #155 closed

[2021-09-23 12:22] #223 closed

[2021-09-26 23:18] kokorins opened #244 "Onnx models are not available (onnx examples)"
[code]

[2021-09-26 23:43] knok16 opened #245 "BatchNorm layer do not initialize `fanIn`/`fanOut` parameters"
`BatchNorm::build` do not initialize `fanIn`/`fanOut` [parameters](https://github.com/JetBrains/KotlinDL/blob/master/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/core/layer/Layer.kt#L38) of `Layer` before calling `Layer::addWeight` [here](https://github.com/JetBrains/KotlinDL/blob/master/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/core/layer/normalization/BatchNorm.kt#L79). As I understan

[2021-09-27 06:25] zaleslaw commented on #244
Hi @kokorins could I ask you: how do you get this error message? There is no official example with the YOLOv4 model.

All models are public on S3 (I made a double-check for that) but I got sometimes the same error message on macOS then I tried to download model from S3 firstly (I don't know why)

[2021-09-27 06:26] kokorins commented on #244
in onnx example replace sff with yolov4

[2021-09-27 06:28] zaleslaw commented on #244
Could you open this URL in browser (it should suggest to load model)? What OS and browser do you use?

[2021-09-27 06:54] zaleslaw commented on #244
@kokorins we made a double-check on our side from a few machines with a different OS, looks like your request to S3 is forbidden for some reason, so let's try to find the reason for it.

[2021-09-27 07:04] kokorins commented on #244
Thanks, it's working now!

[2021-09-27 07:04] #244 closed

[2021-09-27 07:09] zaleslaw commented on #244
Thanks for the signal @kokorins the problem is that I do nothing and it worries me.

[2021-09-27 11:49] axyonovleonid opened #247 "IndexOutOfBoundsException while importing a model from configuration file"
Hi,

Kotlin DL v. 0.0.2
[color_model.txt](https://github.com/JetBrains/KotlinDL/files/7235916/color_model.txt)

I'm trying to adapt [this (see 'Build & Compile the Model') section](https://github.com/AjinkyaChavan9/RGB-Color-Classifier-with-Deep-Learning-using-Keras-and-Tensorflow/blob/master/RGB%20Color%20Classifier%20ML%20Model/Color_Classifier_ML_Model_Tuned.ipynb) network as it shown at[ impor

[2021-09-27 20:42] knok16 opened #248 "Reconcile `TensorShape` functionality with tensorflow's `Shape`"
Tensorflow already provides a class that encapsulates the idea of tensor shape. `TensorShape` class stores the same data and supports the same mental model. Through the code, one or another is used without a notable difference. What do you think about eliminating `TensorShape` class and exposing any additional functionality that is currently provided by it in form of extension methods to `Shape`?

[2021-09-28 07:55] zaleslaw commented on #248
The main idea which is not implemented yet: have a separate API layer (a module), the API implementation made with TF.
TensorShape is a draft (or lost building block) of this layer of abstraction. Also, we need a KotlinDLTensor which could be implemented with TFTensor/ONNXTensor/PyTorchTensor and so on.

The initial idea was to avoid working with TF Shape class due to some limitations and unuseful

[2021-09-28 07:59] zaleslaw commented on #247
Could you please try the same thing with the new version 0.3.0, which will be released today? Probably this problem will be fixed?
Thanks for providing so much helpful feedback on this issue. I'll try to reproduce and return in 2-3 days.

Meanwhile, you could try a new version and share results here in the issue.

[2021-09-28 08:34] #164 closed

[2021-09-28 23:22] axyonovleonid commented on #247
Yeah, it's gone in the new version. But another problems occured. Now I get NLP at model configuration stage

`Caused by: java.lang.NullPointerException: null
	at org.jetbrains.kotlinx.dl.api.inference.keras.ModelLoaderKt.convertToRegularizer(ModelLoader.kt:225)
	at org.jetbrains.kotlinx.dl.api.inference.keras.ModelLoaderKt.createDenseLayer(ModelLoader.kt:557)
	at org.jetbrains.kotlinx.dl.api.infe

[2021-09-29 12:06] knok16 commented on #248
Got it, thanks for the explanation. Agree that an additional layer of abstraction will be helpful in that case. Then what do you think about
1. replacing usages of `Shape` with `TensorShape` whenever it is possible(for example in `Layer::computeOutputShape` (or at least moving it as close to TensorFlow calls as possible;
2. making `TensorShape` immutable?

[2021-10-01 18:51] asad-awadia opened #250 "Thread safety"
[code]

Is the predict* function thread safe?

[2021-10-01 18:56] asad-awadia commented on #250
@zaleslaw

[2021-10-04 09:22] zaleslaw commented on #250
I suggest thinking that this is not a thread-safe method and the whole model.
We are planning to work on it in the 0.5-0.6 releases and write in docs about thread-safety guarantees.

Also, we could use under the hood different runtimes with different thread-safety in the proposed low-level API and need to protect it against race conditions on the framework level.

[2021-10-04 09:35] laurenskz opened #254 "Multi output regression"
Is it currently possible to perform a regression with multiple outputs. I.e a single instance of the dataset looks as follows:
x = [0.7,0.6,0.3]
y = [0.2,0.3]

This would seem impossible given the current design of the Dataset interface where the y value always consists of a single float.

A possible use case is using a neural network for predicting q values in reinforcement learning (Deep q learn

[2021-10-04 14:32] juliabeliaeva commented on #202
Since currently `BufferredImage` is used for image preprocessing, in my PR I use `BufferedImage.TYPE_BYTE_GRAY` and return images with one channel. If we migrate to something else, we could think about supporting 3 channels for grayscale images.

[2021-10-05 08:34] smallshen commented on #133
https://github.com/smallshen/KotlinDL/blob/baffecf2490632c9607b6049f2dfeee33d1915a9/api/src/test/kotlin/org/jetbrains/kotlinx/dl/api/extension/dsl/GraphTrainableModelDslTest.kt
Just a little dsl builder, it should be just what you expect

https://github.com/JetBrains/KotlinDL/pull/252

[2021-10-07 13:09] #203 closed, assigned to juliabeliaeva

[2021-10-11 10:03] #202 closed, assigned to juliabeliaeva

[2021-10-12 14:09] zaleslaw commented on #227
Probably should be a part of the Dataset API

[2021-10-12 14:24] zaleslaw opened #260 "Replace the BufferedImage on Multik NDarrays"
This is a research tickets, the MVP solution should include the following things:

- [ ] Merge transformImage/transformTensor DSL parts
- [ ] Remove BufferedImage from signatures
- [ ] Use Multik ndarrays instead of BufferedImage
- [ ] Migrate Crop, Resize (optional), Rotate(optional), CenterCrop internal logic to the ndarray operations

[2021-10-13 08:25] #201 closed

[2021-10-18 10:12] wuhanstudio opened #263 "KotlinDL on i5 CPU is 3x faster than Python on RTX2080"
Hi,

Actually, this is not an issue, it's something interesting and intriguing about the performance of KotlinDL.

I trained a dense neural network using both KotlinDL and Python3 on the mnist dataset, and the test result is intriguing:

KotlinDL on a i5 CPU is **3x faster** than Python on a RTX2080 GPU.

https://github.com/wuhanstudio/kotlindl-mnist

I'm wondering is KotlinDL really so fast or th

[2021-10-18 13:39] zaleslaw commented on #133
Thanks, @smallshen for your PR #252. It's useful for sequential models, I agree.
Do you have any ideas on how to apply this kind of DSL to the Functional API (graph where nodes could have multiple inputs/outputs)?

[2021-10-19 16:10] zaleslaw opened #264 "Add EfficientNet model family to OnnxModelHub"
Should be added if possible in both formats (with top and without top layers)

[2021-10-20 12:41] #264 closed

[2021-10-21 11:54] #204 closed, assigned to juliabeliaeva

[2021-10-26 10:52] zaleslaw opened #269 "Add Pose Estimation models to ONNX Model Hub"
PoseNet and MoveNet could be good candidates for this domain

[2021-10-30 12:01] rychuelektryk opened #270 "[FeatureRequest] Option to set model callback at any time"
Hi,

Right now you can only set callback when compiling model. Can you add option to set callback independently to compilation? Alternatively maybe fit method could accept callback?

My case:
I have a kfold evaluation method which accepts already compiled Functional model as a parameter. During fit I want to analyse whether to stop early due to overfitting. In order to do that I need to analyse mo

[2021-10-30 12:11] rychuelektryk opened #271 "[FeatureRequest] Option to reset already fitted model to its initial state"
Hi,

I would like to have some kind of a clear method on a already learned model to restore it to the unlearned state. I guess it boils down to resetting model weights. Think you could add such an option in future?

My case:
In each iteration of my kfold procedure I would like to start fitting model from the beginning. I could copy the model in each iteration without copying weights but that leads

[2021-11-01 14:40] zaleslaw commented on #270
Let's discuss your proposal and how it can be implemented in your application.
Do you need 1 callback per model or do you need a few callbacks per model?
Do you want to use different callbacks: for the training and evaluation phase or probably for the prediction phase?

What if the existing Callback field will be converted from protected to public, does it solve the existing problem?

[2021-11-01 14:43] zaleslaw commented on #271
Yeah, I see your need. If it's not private, please share your K-Fold

I think it could be solved as a resetting method or option, but could I ask you: do you need to reset the model only because of the problem with callbacks in #270 ?

[2021-11-02 11:55] juliabeliaeva opened #273 "Integers vs Longs in convolutional, average pool and max pool layers"
Convolutional layers, and `AvgPool1D` , `AvgPool3D`, `MaxPool1D` use `LongArray` for parameters, as `AvgPool2D`, `MaxPool2D` and `MaxPool3D`  use `IntArray`. Also `ModelSaver` uses integers for persisting these layers. It makes sense to use the same data type everywhere.

[2021-11-02 18:13] #273 closed

[2021-11-08 18:12] therealansh commented on #144
Hey @zaleslaw , I could try this one! Does the `Ops` right now have `batch_dot`? Also i could not find `l2_normalize` for normalizing.

[2021-11-10 10:36] zaleslaw commented on #271
@rychuelektryk could you please comment on this thread?

[2021-11-10 10:36] zaleslaw commented on #270
@rychuelektryk could you please comment on this thread?

[2021-11-10 10:53] zaleslaw commented on #263
Hi @wuhanstudio , could I suggest you check the following scenario, based on deeper VGG network and bigger dataset, cifar10 (it also embedded dataset in [Keras](https://keras.io/api/datasets/cifar10/))

The basic code for VGG on Cifar'10 training can be found [here](https://github.com/JetBrains/KotlinDL/blob/release_0.3/examples/src/main/kotlin/examples/cnn/cifar10/VGG.kt)

In this case, KotlinDL

[2021-11-10 11:05] rychuelektryk commented on #270
Hi @zaleslaw , and sorry for late response

I think that from architectural point of view passing callback at compile stage is at least inconvenient. Model compilation can be located in very different place in code than fit/predict/evaluate. The need for listening for fit/predict/evaluate events probably emerges somewhere around calls to fit/predict/evaluate methods and I feel that it would be mos

[2021-11-10 11:19] rychuelektryk commented on #271
Hi zaleslaw, and sorry for late response

This issue is related to the callback issue I've described in other thread. Being unable to reset model weights forces me to make additional model compilation in my kfold method which also lets me set callback.

Below code snippets are simplified for the sake of readability

This is how my current kfold looks like

[code]

And here is how I would like it t

[2021-11-10 11:48] zaleslaw commented on #254
Added a note for a possible solution to this problem: the following [example ](https://github.com/zaleslaw/KotlinDL/blob/feature-254/examples/src/main/kotlin/examples/ml/MultipleRegression.kt) should work.

The current OnHeapDataset supports only `y` as FloatArray but should be Array<FloatArray> like `x` field. At this moment the FloatArray converts to Array<FloatArray> in internalFit method to cr

[2021-11-10 12:32] zaleslaw commented on #144
Unfortunately, I could not find these operations, probably `BatchMatMulV2 `could be used instead of `batch_dot`?

l2_normalize is missed because it's implemented in Python fully, we need to implement it in a KotlinDL like [here](https://github.com/tensorflow/tensorflow/blob/v1.15.0/tensorflow/python/ops/nn_impl.py#L620)

For example, I've created an implementation of l2_normalize below
`fun  l2Nor

[2021-11-10 14:11] wuhanstudio commented on #263
Hi,

I just updated my repo to include the test for VGG11 on Cifar10.

Kotlin (~250s):
https://github.com/wuhanstudio/kotlindl-mnist/blob/master/src/main/kotlin/cirar10/vgg11.kt

Python (~125s):
https://github.com/wuhanstudio/kotlindl-mnist/blob/master/python/vgg11.py

[2021-11-10 15:03] therealansh opened #276 "Add Merge Layer Test Cases"
KotlinDL is right now does not have Merge Layer test cases like `Add`, `Concatenate`,  `Multiply` and so on. I guess addition of test cases will be great. Also what do you think about refactoring and organising the layer test cases directory @zaleslaw?

[2021-11-10 15:58] zaleslaw commented on #276
Yes, a lot of tests are missed for many layers. It will be great to add them to the test suite

[2021-11-11 18:37] therealansh commented on #276
Hey @zaleslaw, would it be nice if I put Merge tests in one file as the `ReshapeTest` looks tidy but what are your thoughts?

[2021-11-11 19:42] zaleslaw commented on #276
Yes, put it into one file

[2021-11-12 13:11] zaleslaw commented on #263
Could you measure the same for 10, 50, 100 epochs instead of 3 by default on CPU and on the same GPU?

Did you know how to run [KotlinDL on GPU](https://github.com/JetBrains/KotlinDL#running-kotlindl-on-gpu)?

[2021-11-14 11:27] wuhanstudio commented on #263
Hi, could you give some advice on using KotlinDL with anaconda?

The GPU server in our lab uses CUDA 11.0 and cuddn 8.x, but KotlinDL requires CUDA 10.0 + cudnn 7.6.3.

Is there any way to use CUDA and cudnn installed in an anaconda environment by changing environment variables?

[2021-11-15 10:06] zaleslaw commented on #171
Fixed in #261

[2021-11-15 10:06] #171 closed

[2021-11-15 11:54] zaleslaw commented on #270
So, I don't see any objection to applying this principle of different callbacks after compilation, it's interesting to see how the KFold is implemented with KotlinDL and probably it will be added in the future release of KotlinDL in the next few months (and probably will be available in early alpha versions of the framework)

I'll fix this issue and hope to get a feedback from you about implementa

[2021-11-15 11:58] zaleslaw commented on #271
Regarding reset weights, do you mean that KotlinDL should keep somewhere the initial weights (loaded from h5 model or generated by initializers) or reset the weights leads only to new random initialization without relation to previously initialized weights?

[2021-11-15 12:51] zaleslaw opened #279 "[Visualisation] Fix wrong bounding box coordinates in ObjectDetection and FaceDetection examples"

[2021-11-15 13:01] zaleslaw opened #281 "[Model Hub] Add no-top models for all available image recognition models in TensorFlow ModelHub"
Motivation: Currently, we provide support for models with top only in our model hub, but it requires a lot of handle work to get the model without top.

[2021-11-15 15:18] #279 closed

[2021-11-15 15:25] zaleslaw commented on #263
Unfortunately, I don't know it is possible with an anaconda or not (highly likely that is not possible); in my case, I reinstall drivers for video cards manually, and it works fine

[2021-11-18 04:17] haydenkaizeta opened #284 ""Could not resolve org.jetbrains.kotlinx:kotlin-deeplearning-api:0.3.0." Error"
When trying to add to my gradle on a fresh project I am unable to resolve the dependency. I tried clearing my cache, refreshing my dependencies, and everything else downloads fine but not `"org.jetbrains.kotlinx:kotlin-deeplearning-api:0.3.0."`

The error thrown by Intellij is:

[code]

Here is my build.gradle:

[code]

[2021-11-18 19:55] wuhanstudio commented on #263
Hi, these are my test results on CPU in seconds:

| Intel(R) Core(TM) i9-10900X CPU @ 3.70GHz | 10      | 50       | 100      |
| ----------------------------------------- | ------- | -------- | -------- |
| Kotlin (CPU)                              | 266.936 | 1318.638 | 2785.489 |
| Python (CPU)                              | 299.029 | 1977.897 | 3719.283 |

Unfortunately, two RTX2080Ti run out

[2021-11-19 13:23] zaleslaw commented on #263
Great data, thanks @wuhanstudio ! Looks very good, thanks for the great work!

[2021-11-19 13:35] zaleslaw commented on #284
I don't know what happened, but it works on my side now after clearing Gradle caches.

Could I suggest you a few steps to try:
1. Clear Gradle caches manually
2. Update the Kotlin plugin to the ```plugins {
    id 'org.jetbrains.kotlin.jvm' version '1.5.31'
}```
3. Try to download and run examples from the https://github.com/zaleslaw/KotlinDL-Demo

[2021-11-19 13:36] zaleslaw commented on #284
If someone has the same problem, please let me know

[2021-11-19 13:40] gasabr opened #285 "Type cast error when inferencing onnx model"
I'm trying to inference ONNX model created from lightgbm model via Kotlin DL and in every method (tried Raw ones too) i'm getting `class [J cannot be cast to class [[F ([J and [[F are in module java.base of loader 'bootstrap')` or in RawMethods `SequenceInfo cannot be cast to class ai.onnxruntime.TensorInfo`

Env:
[code]

Code
[code]

Error is in the line 124 of the file `OnnxInferenceModel.kt` an

[2021-11-19 14:59] zaleslaw commented on #285
Please, add the attachment @gasabr and could you try to repeat the experiment with the latest version of the onnx-dependency, here
[code]

[2021-11-19 22:18] haydenkaizeta commented on #284
The demo project has the same issue on my machine. I can confirm that a few others that I told to try independently in fresh projects and existing ones, on other networks and machines, have the same issue.

If I try building the code I get this error:

[code]

If I download the jars for
'org.jetbrains.kotlinx:kotlin-deeplearning-api:0.3.0'
and
'org.jetbrains.kotlinx:kotlin-deeplkearning-dataset:0.

[2021-11-19 22:22] haydenkaizeta commented on #284
I also tried all of your steps including wiping gradle cache completely

[2021-11-20 07:41] zaleslaw commented on #284
Could you write please the jdk version and vendor which is used on your machine?
If it's lower than 11, could you please try to do it with 11 jdk, like openjdk

Also, what OS is installed on your machine?

[2021-11-21 02:02] haydenkaizeta commented on #284
Changing Project SDK (File -> Project Structure -> (Project Settings) Project -> Project SDK) to jdk 11 fixed the issue. Then I had to change the demo project's build.gradle jvm target to match (`kotlinOptions.jvmTarget = "11"`)

Would be great if we could use Java/JDK 8 here but this fixed the issue for me

[2021-11-21 02:02] #284 closed

[2021-11-21 17:09] therealansh commented on #276
Hey @zaleslaw , have a look at this test case, this is from tf official [doc](https://www.tensorflow.org/api_docs/python/tf/keras/layers/average) yet it fails, AFAIK the `assertLayerOutputIsCorrect` checks the content of the output as well and `Average()` should produce the same effect as given in the doc. Yet the test fails and when i tried to debug it it just returns the [x1,x2] as result.
[code

[2021-11-22 07:55] gasabr commented on #285
[twoTierModel.txt](https://github.com/JetBrains/KotlinDL/files/7579067/twoTierModel.txt)

Thanks for the response! I tried 0.3.0 got the same exception, I also have tried to use java onnxruntime and was able to inference the model with following code:

[code]

[2021-11-22 08:02] zaleslaw commented on #285
Thanks, @gasabr thanks, for the example you gave me, and I hope to fix it in the 0.4 release to cover more cases, but at this moment java onnxruntime is the best choice for you, I agree

[2021-11-22 08:03] zaleslaw commented on #284
Thanks for the quick response. Looks like we are trying to use Kotlin Data Science libs with Kotlin 1.5 and 1.6 at this moment with the jdk 11 and higher, but I'll raise the question about jdk 8 support

[2021-11-22 08:08] zaleslaw commented on #276
Thanks for the note! Probably the `Average` layer could be implemented with bug (low probability) or you could find something else (high probability) what influence on the output

[2021-11-22 14:45] therealansh commented on #276
Hey @zaleslaw, I guess the bug is in `LayerTest.kt`. Since, Merge layer abstraction has a overloading of `forward` function, i guess we need overload this as well [`getLayerOutputOp()`](https://github.com/JetBrains/KotlinDL/blob/a47add7c20147ab5d43ab1c65010e901582fbf78/api/src/test/kotlin/org/jetbrains/kotlinx/dl/api/core/layer/LayerTest.kt#L23) as it takes `Array<*>` which returns a Operand<Float

[2021-11-30 12:30] michalharakal commented on #170
@zaleslaw implemented with #286

[2021-12-03 07:56] #170 closed

[2021-12-03 12:52] #281 closed

[2021-12-03 15:11] #144 closed

[2021-12-05 00:15] smallshen opened #287 "Always produce same prediction."
https://github.com/EridaniTeam/KotlinDL-Example-1

In this example, it predicts the possibility of having side effects for a medical. But it has the same prediction output for all input.

It should have different predictions for different inputs (ages, in the example scenario)

[2021-12-06 11:11] zaleslaw opened #288 "The Easy API for Image Recognition models should contain automatic image resizing"
The current Easy API for Image Recognition (for models from TF Hub) does not include built-in support for image resizing.
This is a problem for users who try to predict different-sized images.
The Easy API in the 0.4 release should include a built-in image resizing to the Model Input shape or ask the user for a custom resizing.

For example, the following code on the image with the size 500*600 sh

[2021-12-06 11:18] zaleslaw opened #289 "Replace TensorFlow low-level tensor exception on early asserts in Kotlin for input shapes"
We have ugly low-level exceptions from the TF Java API internals related to the appropriate tensor shape calculation. It makes the users crazy for not knowing what to do with it. I suggest adding early contracts via require/check in Kotlin to avoid TF exception and make the message to the user easy to read and understand and share some tips on how to fix the problem.

[code]

[2021-12-06 12:35] zaleslaw commented on #287
You example is goog and model too, but it looks like I found a bug in your example: you train your model on scaled data (between 0 and 1) but test it on unscaled data (between 0 and 100)

I fixed it and it works well

[code]

[2021-12-06 16:21] smallshen commented on #287
Thank you, my bad. I am too used to the python framework which converts it automatically.

[2021-12-06 16:21] #287 closed

[2021-12-08 16:53] Reqeique opened #291 "java.io.EOFException: Unexpected end of ZLIB input stream"
so while i was leading DL in kotlin ,

I got an error saying `java.io.EOFException: Unexpected end of ZLIB input stream`  For instance the
error was pointing at `fashionMnist()` function so I tried cloning the function on my local code , which ends up spotting at `extractImage`(https://github.com/JetBrains/KotlinDL/blob/master/api/src/main/kotlin/org/jetbrains/kotlinx/dl/dataset/handler/MnistUtil.

[2021-12-08 18:11] zaleslaw commented on #291
Could you please try to clean up the cache directory with the downloaded datasets and check permissions for the writing/reading to this directory?

[2021-12-09 04:08] Reqeique commented on #291
after removing the cache dir it made it work ,thanks!

[2021-12-09 04:08] #291 closed

[2021-12-09 09:43] zaleslaw opened #292 "TensorFlowSavedModel should work with the Image Processing DSL"
This example with a LeNet model trained on the fashionMnist dataset should work correctly with the Image Processing DSL

It includes conversion to the Grayscale image preprocessor added in the #202

[2021-12-09 09:51] zaleslaw opened #293 "Support export tensor data to image"
If we have a tensor or FloatArray containing the image data, we should be able to convert this piece of data to the image (BufferedImage at this moment) in Image Preprocessing DSL or in ImageConverter

Look at the `imageToFloatArray` function in ImageConverter. We need `FloatArrayToImage` function.

Also, this function could be added as an Image Preprocessor (analogue of `ImageSaver`) but could be

[2021-12-10 06:52] Richyeoh opened #294 "There are many AI projects and frameworks on the market. Why should KT be packaged separately?"
I just be curious!

[2021-12-11 12:54] zaleslaw opened #296 "Add SSD-Mobilenet-v1 model to the ONNX Model Hub"
The model is available in the [onnx/models](https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/ssd-mobilenetv1).

This model is converted from TensorFlow (code is [here](https://github.com/onnx/tensorflow-onnx/blob/master/tutorials/ConvertingSSDMobilenetToONNX.ipynb))

[2021-12-13 16:13] stheid opened #297 "[Question/Request] More Low-level acces to tensorflow"
For my research i need to read out the **gradients during backpropagation**. However most classes (Sequential) can **not be inherited** and most  variables are internal or private.

Would it be possible to **expose more of the internal api** to get optional more low level access to the api and allow for easier extension?

Similar to:
https://github.com/Dongdongshe/neuzz/blob/2c7179557a491266ca1478

[2021-12-15 02:04] chaloxavi commented on #164
Hi, I have the same error, could you tell me how to fix it?

[2021-12-15 11:34] zaleslaw commented on #297
Hi @stheid, thank you for your question.
At this moment we have plans to make the hierarchy of classes open with the ability to make possible the inheritance for the main building blocks of the KotlinDL like layers, initializers, activation functions, callbacks, metrics, and loss functions, probably we should do it and for Sequential and Functional models (need to think about it)

But due to usage

[2021-12-15 11:43] zaleslaw commented on #57
How to obtain pre-trained weights https://reposhub.com/python/deep-learning/benjs-nfnets_pytorch.html

[2021-12-15 11:44] zaleslaw commented on #57
An example of pytorch implementation https://nfnets-pytorch.readthedocs.io/en/latest/

[2021-12-15 12:11] zaleslaw opened #298 "Multiple metrics support"
Currently, the KotlinDL framework supports only one metric calculation
We need to extend our API to support multiple metric calculations

[2021-12-15 14:03] zaleslaw opened #299 "Add a helper function for removing top N layers"
Currently, we need to do a lot of manual work which could be potentially a source of bugs in the Functional API (see an [example](https://github.com/JetBrains/KotlinDL/blob/master/examples/src/main/kotlin/examples/transferlearning/modelhub/resnet/Example_2_ResNet50_prediction_additional_training.kt#L87))

We need a simple method for removing top N layers procedure with all boundary lines to previo

[2021-12-15 14:05] zaleslaw opened #300 "Add a helper function for simple addition of top model to the basic model without top"
Currently we need to add top model as a part of computational graph consisting from layers with all links between them, it will be great to avoid it in Functional API with the helper function or extension of Functional Companion methods.

For example, Keras recommends the following way

[code]

[2021-12-15 14:12] zaleslaw opened #301 "Define correct toString method for all existing layers"
A part of layers, like the Dense layer, have a broken `toString` method which could not print the state of the layer before building its part of TF Graph.

We suggest improving library maintainers' experience during debugging and defining `toString` method for all layers which will be independent of the stage of model initialization and compilation.

[2021-12-15 14:19] zaleslaw opened #302 "Add MobileNetV3 models to the TFModelHub and ONNXModelHub"
1. [MobileNetV3Large](https://www.tensorflow.org/api_docs/python/tf/keras/applications/MobileNetV3Large)
2. [MobileNetV3Small](https://www.tensorflow.org/api_docs/python/tf/keras/applications/MobileNetV3Small)

[2021-12-15 14:21] zaleslaw opened #303 "Add EfficientNetV2 model family to the ONNX Model Hub"

[2021-12-15 14:41] zaleslaw opened #304 "Add the EfficientDet model family to the ONNX Model Hub"
EfficientDet models could be added to the ONNX Model Hub via converting to ONNX format like in this [notebook](https://github.com/onnx/tensorflow-onnx/blob/master/tutorials/efficientdet.ipynb) and keep the same API like SSD model (with limitation for the number of detected objects)

[2021-12-15 14:57] zaleslaw opened #305 "Set all the optimizers to have useLocking = True"
Related to the following [issue](https://github.com/tensorflow/java/pull/310)

[2021-12-15 15:11] zaleslaw opened #306 "Export and import optimizer intermediate state"
Currently, KotlinDL doesn't support export and import of optimizer intermediate state (state of optimizer's variables) in the txt format, but it doesn't give us a chance to make real checkpoints

[2021-12-15 15:14] zaleslaw opened #307 "Add support for export/import ONNX + TF mixed model"
Currently, KotlinDL has no built-in support for export/import of the models after transfer-learning (when the ONNX model is used as a preprocessing layer and we update weights of the topModel only like in the following [example](https://github.com/JetBrains/KotlinDL/blob/master/examples/src/main/kotlin/examples/onnx/cv/custom/additionalTrainingWithTensorFlow.kt))

[2021-12-15 15:21] zaleslaw opened #308 "Add export of model weights to the npy files"
The first way: use JBResearch [library](https://github.com/JetBrains-Research/npy) for export/import in npy format
The second way: add this ability to the Multik library and use Multik arrays for this

[2021-12-15 15:27] zaleslaw commented on #308
@devcrocod look at this issue, let's discuss how to fix it

[2021-12-16 07:30] stheid commented on #297
Thanks for the informative reply. I think that means that KotlinDL is of the table for now, but i will keep a close eye on the development and maybe use it in the future ;)

[2021-12-16 16:39] devcrocod commented on #308
I am going to add this feature to Multik - https://github.com/Kotlin/multik/issues/55

[2021-12-19 23:25] juliabeliaeva opened #314 "`Functional.of` silently skips layers without inbound layers."
Consider the following code:
[code]
This code outputs "1" and the created model has a single input layer, however this was probably not the authors intention. The problem is with the `Functional.Companion#topologicalSort` method which does not support disconnected graphs and just silently skips layers which are not reachable from the input. Instead an exception should be thrown, or at least an err

[2021-12-20 09:41] #305 closed

[2021-12-20 09:41] zaleslaw commented on #305
Closed in #311

[2021-12-20 09:43] zaleslaw commented on #314
Thank you for this issue, agree about the warning or better with exception here

[2021-12-30 05:21] AlexandreBrown opened #321 "Add Support For Loading Image ByteArray During Preprocessing"
Currently we are forced to pass in a `File` when loading an image in the preprocess DSL.
It would be great to support the use case where we already have the images loaded and ready in memory instad of requiring to save them to the disk. This avoids a round trip to the disk and makes it more convenient to the user of the library.

[2022-01-05 19:46] juliabeliaeva opened #322 "Move loading out of preprocessing"
It seems that loading functionality should be moved out of preprocessing to the `Dataset` implementations.
1. Loading images is orthogonal to preprocessing. Having a loading stage limits preprocessors functionality, as it prohibits sharing preprocessors between datasets or applying them to images loaded from elsewhere.
2. Knowledge about the source of the images is intrinsic to some of the `Datase

[2022-01-12 11:01] zaleslaw commented on #321
Thanks to the issue and proposed PR for this issue, we need to design in this place a better architecture to add new data sources more easily than now. It will be supported in the release 0.4

[2022-01-12 13:27] #269 closed

[2022-01-12 13:27] #296 closed

[2022-01-12 13:27] #304 closed

[2022-01-12 13:39] zaleslaw commented on #298
Fixed in #312

[2022-01-12 13:39] #298 closed

[2022-01-13 13:21] juliabeliaeva opened #325 "Code duplication in `WeightLoader`"
`WeightLoader` has a number of methods to load all or a subset of layers in variety of ways, but essentially all of them are performing the same task:
1. Check that model can load weights.
2. Load weights for a subset of layers, and initialise weights for other layers.
3. Mark model as initialised.

Refactoring is needed to unify these methods.

[2022-01-13 14:48] zaleslaw commented on #325
Refactor TIME!!!

[2022-01-19 13:23] juliabeliaeva opened #327 "`GraphTrainableModel#internalPredict` works only with one-dimensional predictions"
It should be possible to make predictions of multiple-dimensions, for example, images, like in the [Autoencoder example](https://github.com/JetBrains/KotlinDL/pull/315#issuecomment-1001430860). However, the linked example fails at https://github.com/JetBrains/KotlinDL/blob/11d4eb175323b61d2e709d4133cbbde49c033746/api/src/main/kotlin/org/jetbrains/kotlinx/dl/api/core/GraphTrainableModel.kt#L698 as

[2022-01-19 13:27] juliabeliaeva commented on #327
The simplest fix would be to just linearize `predictionsTensor` to a `FloatArray`. This will allow to keep the current api and to make the `Autoencoder` example work (we already can show `FloatArray` images in the `ImagePanel`).
If this is ok, I'll send a pr.

[2022-01-22 01:09] kokorins commented on #307
Link to example is broken.

[2022-01-24 15:40] #325 closed

[2022-01-24 15:41] zaleslaw commented on #327
I see this problem, please send a PR to fix that, @juliabeliaeva

[2022-01-25 07:09] #327 closed

[2022-01-27 14:24] rychuelektryk opened #329 "Functional.copy() does not support models with dropout layer"
Exception in thread "main" java.lang.IllegalStateException: dropout_3 with type Dropout is not supported yet!
	at org.jetbrains.kotlinx.dl.api.inference.keras.ModelSaverKt.convertToKerasLayer(ModelSaver.kt:111)
	at org.jetbrains.kotlinx.dl.api.inference.keras.ModelSaverKt.serializeModel(ModelSaver.kt:46)
	at org.jetbrains.kotlinx.dl.api.core.Functional.copy(Functional.kt:327)

It looks like method

[2022-01-28 19:00] zaleslaw commented on #329
Thanks for the issue!

[2022-02-01 14:09] zaleslaw opened #331 "Add export in Keras style for a few new initializers"
- [ ] Ones
- [ ] Zeros
- [ ] Orthogonal
- [ ] ParametrizedTruncatedNormal

[2022-02-03 08:24] zaleslaw commented on #133
This issue is closed in #309

[2022-02-03 08:24] #133 closed

[2022-02-03 08:33] zaleslaw commented on #306
This feature is implemented already and fully covered in the example `lenetOnMnistExportImportToJSONWithAdamOptimizerState`

[2022-02-03 08:33] #306 closed

[2022-02-03 08:54] zaleslaw commented on #288
Fixed in #317

[2022-02-03 08:54] #288 closed

[2022-02-03 09:00] #270 closed

[2022-02-03 10:02] zaleslaw commented on #301
For example I see in debugger Method threw 'kotlin.UninitializedPropertyAccessException' exception. Cannot evaluate org.jetbrains.kotlinx.dl.api.core.layer.convolutional.Conv1D.toString() before weights and variables initialization and the same for all layers with the variables

[2022-02-04 06:15] #314 closed

[2022-02-04 09:20] #299 closed

[2022-02-04 09:20] #300 closed

[2022-02-04 10:57] #301 closed

[2022-02-07 16:55] rcd27 opened #336 "[FeatureRequest] Add EAST text detection support"
There is very usefull pretrained Tensorflow model for detecting text on image: https://github.com/argman/EAST

Would be nice to use that in KotlinDL

[2022-02-10 08:12] rcd27 commented on #336
This is a `Kotlin` implementation with use of `OpenCV.DNN` modulde + `EAST` detection model:
https://github.com/rcd27/opencv-EAST-kotlin

[2022-02-14 13:32] #153 closed

[2022-02-16 10:43] zaleslaw commented on #245
It's closed in #324

[2022-02-16 10:43] #245 closed

[2022-02-16 10:44] zaleslaw commented on #148
The time of tests is reduced in many places due to changing the main constants, but integration tests are kept as a part of testing

[2022-02-16 10:44] #148 closed

[2022-02-16 12:02] #292 closed

[2022-02-17 07:41] zaleslaw commented on #307
Fixed a link

[2022-02-17 08:19] zaleslaw commented on #307
NOTE: ONNX Java API has no support for saving model on disk

[2022-02-18 09:08] #124 closed

[2022-02-20 21:51] DmtriyTs opened #340 "1w"

[2022-02-21 05:09] rcd27 commented on #336
Yes, the model format is `.pb`, I'll try to go through the steps you suggested.

[2022-02-21 07:21] #340 closed

[2022-02-21 12:30] juliabeliaeva opened #341 "ModelSaver does not save regularisers for Separable and Depthwise convolutional layers"

[2022-02-22 14:49] #322 closed

[2022-02-22 16:47] rcd27 commented on #336
@zaleslaw all EAST models with `.pb` format I found in the internet were missing `tag` value (checked with `saved_model_cli` tool). That error is thrown by `tensorflow-onnx` while trying to convert. Any ideas how to workaround this?

[2022-02-25 09:19] #227 closed

[2022-02-25 09:20] zaleslaw commented on #227
Now this logic is moved to the Dataset creation

[2022-02-25 09:41] zaleslaw commented on #336
Looks like it requires a tag setting before convertation
I found a few contants here
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/saved_model/tag_constants.py#L27

[2022-02-25 15:04] zaleslaw opened #343 "Add secondary constructors for convolutional and pooling layers with numbers instead arrays"
It's related to the discussion https://github.com/JetBrains/KotlinDL/discussions/110

[2022-03-09 14:53] zaleslaw commented on #343
Fixed in #344

[2022-03-09 14:53] #343 closed

[2022-03-27 07:37] zaleslaw commented on #331
@juliabeliaeva could you please have a look at this ticket to start with a Keras-KotlinDL compatibility task

[2022-03-28 11:35] juliabeliaeva commented on #331
@zaleslaw ok, I'll work on it.

[2022-04-07 12:09] juliabeliaeva opened #347 "Orthogonal initializer fails when target shape differ from [2, 2]"
[code]

[2022-04-11 06:18] zaleslaw commented on #347
@juliabeliaeva did you fail on some new junit tests or when you load a model from Keras?

[2022-04-11 11:06] juliabeliaeva commented on #347
@zaleslaw I noticed the problem when I tried loading a model from keras to test various initializers. It reproduces on tests as well, for example, here https://github.com/JetBrains/KotlinDL/blob/008d7dd7b85d2401bbf55718cc4b7b339b0008af/api/src/test/kotlin/org/jetbrains/kotlinx/dl/api/inference/keras/InitializerPersistenceTest.kt#L146 I use input size 2 and output size 2 because the initializer doe

[2022-04-12 06:59] #347 closed

[2022-04-14 12:59] juliabeliaeva commented on #293
@zaleslaw such function already exists in `examples.dataset.ImagePanelKt#toBufferedImage`, probably could be moved to `ImageConverter`.

[2022-04-15 12:26] ermolenkodev commented on #285
I want to discuss a couple of things.

Onnx supports multiple output types such as tensors, sequence of numbers (or strings), sequence of maps, and a map. At first glance, it seems that it is possible to decode every type of input to appropriate Kotlin's data structure using OnnxModel metadata.
But I have some doubts:
- I am not 100% sure that it's possible in every scenario.
- We need to implemen

[2022-04-15 12:43] ermolenkodev commented on #285
Another thing I want to discuss. For me, it seems reasonable if OnnxInferenceModel's methods  `predict` and `predictSoftly` will be refactored out into more specific implementation class (like ClassificationOnnxInferenceModel).

It may be handy if OnnxInferenceModel will work with arbitrary tensors. Meanwhile, classes targeted for specific DL tasks (such as detection or segmentation) can use OnnxI

[2022-04-20 06:11] ermolenkodev opened #358 "Refactor OnnxInferenceModel to reduce code duplication"
I think it would be a good idea to unify this (predictSoftly) method with `predictRaw` (as a separate PR).

_Originally posted by @juliabeliaeva in https://github.com/JetBrains/KotlinDL/pull/356#discussion_r852313090_

[2022-04-21 07:03] zaleslaw commented on #358
Keep in mind the predictSoftly method for the TensorFlow models before refactoring

The initial idea of the predictSoftly method is the following: return the vector of probabilities instead of the class label calculated via argmax on the vector of probabilities.

The semantic for the predictRaw is more common – to return just low-level output with a few tensors, for example, not just 1D vector

[2022-04-26 11:22] zaleslaw commented on #358
@ermolenkodev is this ticket closed by the PR? If yes, please wire it together with PR and close

[2022-04-26 18:30] #217 closed

[2022-05-01 07:14] gbaranski opened #361 "ONNX integration doesn't want to work on M1"
Fails on
[code]

[code]

The same code works just fine on AMD64 Linux.

[2022-05-17 07:54] ermolenkodev commented on #293
Regarding this
```Also, this function could be added as an Image Preprocessor (analogue of ImageSaver) but could be used in the TensorPreprocessing DSL block.```
Let's move this out to another issue, to speed up release of 0.4

[2022-05-18 11:48] zaleslaw opened #365 "Add comments to ONNXModels class and remove outdated models"
Some models in ONNXModels are not commented, and also it contains some classes of models without preprocessing
Also it includes the removal of outdated TODOs in this class

[2022-05-18 11:51] zaleslaw commented on #361
It will be great if somebody with M1 will help to reproduce the issue with ONNX Runtime (the same problem is known for TF Runtime)

[2022-05-18 12:07] zaleslaw opened #366 "Generate documentation with Dokka for version 0.4"
And deploy it with github pages with mutiple version support

[2022-05-18 14:44] zaleslaw opened #367 "Add support for all ONNX output types (Map, Sequence and so on) in OnnxInferenceModel"

[2022-05-18 14:48] zaleslaw opened #368 "Add to ONNXInferenceModel human-readable model description"
The existing toString method just prints some underlying information from the ONNX Java API.

We need to unify the input/output information with the TF module and also add info from modelHub if possible and about the specific type

[2022-05-18 15:01] zaleslaw opened #369 "Add comments to the TFModels and convert TODOs to the issues"

[2022-05-18 17:13] #293 closed

[2022-05-18 17:14] #331 closed

[2022-05-19 15:49] zaleslaw commented on #366
Nice to hear, could you please share a link here, it will be helpful to check places with missed docs

[2022-05-20 06:01] ermolenkodev commented on #366
sure, here it is - https://ermolenkodev.github.io/KotlinDL/

[2022-05-20 07:35] zaleslaw opened #370 "Add tutorial about fine-tuning of noTop ONNX models"
There are a few noTop models available in the ONNX Model Hub and all of them could be fine-tuned with the TensorFlow added layers like Dense or AveragePool2D.

There is one example of how to do that. It will be great to add a tutorial or article with extended examples.

[2022-05-20 08:16] zaleslaw opened #371 "Add a page to docs with the list of all models availalbe in the ModelHub"
- [ ] with alternative way to load the model from GDrive or Github large files like in the ONNX/models
- [ ] with the short description of how the model was obtained
- [ ] link to the source of the model
- [ ] link to the article/paper where the model was presented for the first time
- [ ] some information about the conversion to ONNX, usage of quantization and so on.

[2022-05-20 12:16] #365 closed

[2022-05-20 16:38] #369 closed

[2022-05-21 20:35] gbaranski opened #375 "Running KotlinDL in Docker"
Hi, have anyone managed to run KotlinDL program in Docker?
I've tried running it, on [tensorflow/tensorflow:1.15.5-gpu](https://hub.docker.com/layers/tensorflow/tensorflow/tensorflow/1.15.5-gpu/images/sha256-7ad742cbb2c77a40d0996ec08345dff54fe25f39428486e5f41c69db04b6d17b?context=explore) image, but it failed with errors:

[code]

[2022-05-25 11:18] juliabeliaeva opened #377 "Clamp input data to 0..255 range in ImageConverter#floatArrayToBufferedImage"

[2022-05-25 12:13] juliabeliaeva opened #379 "Make ImagePanel a part of the visualization api"
1. Move `ImagePanel` class to the visualization module.
2. Remove duplication with the classes in `PlotConv2D.kt`.
3. Extract the common code which creates a frame to a function.

[2022-05-25 12:43] juliabeliaeva opened #380 "Add documentation for functions and classes in PlotConv2D.kt"
See [PlotConv2D.kt](https://github.com/Kotlin/kotlindl/blob/45268723e6af80054de603a8d938e35f4725d8ff/visualization/src/main/kotlin/org/jetbrains/kotlinx/dl/visualization/swing/PlotConv2D.kt)

[2022-05-25 15:12] zaleslaw commented on #380
There is no public API here. Agree it requires refactoring for the given examples.

[2022-05-25 15:45] zaleslaw commented on #380
It was a bunch of helper classes for a few examples. Probably it could became a public API, but it's not at this moment.

I'm not sure about making internal, if examples will work, why not, but for me is enough that it has no public modifiers

[2022-05-25 15:59] zaleslaw commented on #380
I found that I used visualisation during the demos, so it could be a helper class

It's strange that the whole file is highlighted yellow because where is no
[code]
in the gradle in this module.

We requires doc only for public methods in libraries, right? And in this case we doesn't require it yet.
Let's do refactoring and solve the future of this module during the planning session not in this ti

[2022-05-25 19:57] juliabeliaeva opened #382 "Avoid warnings from loadWeightsForFrozenLayers for layers without parameters"
Running `Example_2_ResNet50_prediction_additional_training_with_helper.kt` example results in multiple messages like:
[code]
from `WeightLoaderKt#fillLayerWeights`.

[2022-05-26 10:46] ermolenkodev opened #384 "Error during image loading"
An exception is thrown during the loading of the jpeg image. Maybe the reason is non-standard encoding.
[code]
snippet to reproduce an issue
[code]

[000000163682](https://user-images.githubusercontent.com/26741087/170472592-25d462b6-8f4e-436a-a243-0f36117fff45.jpg)

[2022-05-26 11:02] ermolenkodev opened #385 "Add validation of input shape during onnx model inference"
Currently, if an onnx model requires a 3-channel image but the input provided has only one channel internal onnx library exception will be thrown.

ai.onnxruntime.OrtException: Shape [1, 512, 512, 3], requires 786432 elements but the buffer has 262144 elements.

[2022-05-26 11:10] ermolenkodev opened #386 "Implement support for onnx model inference on gpu"
Feature request:
Add ability to execute ONNX model on GPU.

[2022-05-26 12:24] juliabeliaeva opened #387 "Allow to invoke Preprocessing on a single BufferedImage"

[2022-05-26 12:48] ermolenkodev opened #388 "drawDetectedObjects method supports only normalized array as input"
make drawDetectedObjects method and other visualization methods support BufferedImages as input or [0-255] valued arrays

[2022-05-26 17:28] juliabeliaeva opened #389 "Incorrect error message when calling preprocessing on a file that does not exist"
The when running the code looking like:
[code]
The error message is:
[code]
While it should just report that the file is missing.

[2022-05-26 17:35] #382 closed

[2022-05-27 07:18] ermolenkodev opened #390 "Error in preprocessing code of EfficientDet models"
There is an error in preprocessing in the **EfficientDetObjectDetectionModel.detectObjects(imageFile: File)**
[code]

The channels of input of EfficientDet models should be in RGB order

[2022-05-27 07:46] juliabeliaeva commented on #375
Hi, it looks similar to the issue described in the [README](https://github.com/Kotlin/kotlindl#fat-jar-issue).

[2022-05-27 12:19] juliabeliaeva commented on #390
Fixed by #391

[2022-05-27 12:19] #390 closed, assigned to ermolenkodev

[2022-05-27 17:40] #389 closed

[2022-05-31 10:34] ermolenkodev opened #395 "Errors in Pose detection models"
There is a couple of easily fixable problems in the PoseDetection models' code.

- Wrong channels ordering for Pose detection models
- RuntimeFault if some of the detected poses have confidence lower than a threshold

[2022-05-31 13:40] #377 closed

[2022-06-01 12:15] #395 closed

[2022-06-01 12:18] ermolenkodev opened #397 "Issues with SSD models"
* wrong channels ordering
* wrong labels mapping for SSDMobileNet

[2022-06-02 09:48] #397 closed

[2022-06-02 14:16] ermolenkodev opened #400 "Wrong channel ordering for inputs of multiple Image recognition models?"
ImageRecognitionModel.predictObject is a common method for all classification models, and it contains a hardcoded conversion of an input image to BGR format. Meanwhile, most of the models in ModelHub requires input in image in RGB format which is a cause of a drop of classification accuracy.

We should further investigate this issue. If it's indeed an error, we should fix the input format for mode

[2022-06-08 10:50] #366 closed

[2022-06-08 14:22] Craigacp commented on #361
The ORT jar on Maven Central doesn't support macOS aarch64, though it works just fine if you compile it from source on an M1 (it got it working in December 2020 shortly after I got an M1).

I believe the plan is to add support for macOS aarch64 in a future release but it's a bit constrained by the lack of build resources for that platform.

[2022-06-08 21:54] AlexandreBrown commented on #321
@zaleslaw Hello, was this added in 0.4?

[2022-06-09 07:38] zaleslaw commented on #361
@Craigacp thanks for the comment! It's important to know

[2022-06-09 07:39] zaleslaw commented on #321
@AlexandreBrown Unfortunately, it was not included

[2022-06-25 11:02] dkandalov commented on #164
I guess the answer is that KotlinDL currently doesn't support M1. It would be good to make this a bit more explicit.

From https://github.com/Kotlin/kotlindl/issues/172#issuecomment-900338401

[2022-07-12 08:30] #400 closed

[2022-07-18 10:51] #384 closed

[2022-07-18 23:48] mgroth0 opened #405 "In the README, GPU libraries are added to the "compile" configuration, which is deprecated"
In the gradle snippers from the README, most dependencies are added to the `implementation` configuration, but the GPU dependencies are added to the `compile` configuration. Is there a reason for this? The `compile` confiuguration is deprecated by gradle. If there is a reason, maybe it could be explained in the README to avoid confusion.

[2022-07-26 16:45] Reqeique opened #407 "Add LSTM, TextVectorization and Embedding Layers for NLP"

[2022-08-01 09:10] ermolenkodev opened #410 "Сonsider reinitialization of Input/Output shapes in the case of model file changed"
Interestingly, calling `initInputOutputInfo` twice would not change the shapes, because there are checks to initialize them twice. And we need the check for the input shape because for some models it is set manually before initialization. Perhaps, this is something that should be looked into later.

_Originally posted by @juliabeliaeva in https://github.com/Kotlin/kotlindl/pull/409#discussion_r933

[2022-08-01 09:10] ermolenkodev opened #411 "Create a separate module with GPU tests and examples, so there would not be any need to uncomment anything to run them"
Perhaps, in the future we should create a separate module with GPU tests and examples, so there would not be any need to uncomment anything to run them.

_Originally posted by @juliabeliaeva in https://github.com/Kotlin/kotlindl/pull/409#discussion_r933613750_

[2022-08-02 06:59] ermolenkodev opened #413 "Refactor ONNXInferenceModel initialization with different execution providers"
Merge Julia's changes to allow code like this
[code]
without doing any additional initialization in between.

_Originally posted by @juliabeliaeva in https://github.com/Kotlin/kotlindl/pull/409#discussion_r933587900_

[2022-08-02 07:03] #386 closed

[2022-08-05 11:22] ermolenkodev opened #415 "Add api for loading ONNX model from byte array"
On Android, it's required to have an option to load the model from application resources as an array of bytes. Also, it can help download models from remote storage.

[2022-08-05 11:35] ermolenkodev opened #416 "Add preprocessing API for android Bitmaps"
Bitmaps are usually used to represent images on android. It will be convenient to have a preprocessing API similar to what was made for BufferedImages.Maybe it is worth researching an opportunity to use Multik NDArrays as tensor representation

[2022-08-05 16:23] #413 closed

[2022-08-07 19:00] Reqeique opened #417 "multiple argument support for the Input in OnnxInferenceModel 's predictRaw and it's sibling"
was trying to import model with 2 parameter in kDL but apparently doesn't seems to be supported because as in "https://github.com/Kotlin/kotlindl/blob/349d09d1a3817b89c12302a0d373a16b5f7e3fa3/onnx/src/main/kotlin/org/jetbrains/kotlinx/dl/api/inference/onnx/OnnxInferenceModel.kt" no matter how much argument it needs, it would only emit single input because the 3 deriving function seems to take the

[2022-08-08 09:01] ermolenkodev commented on #417
Thanks for reporting an issue. We will consider including the fix in the nearest release.
If you want to implement it by yourself, PR is welcome!

[2022-08-09 12:18] #415 closed

[2022-08-09 13:17] ermolenkodev opened #420 "Add NNAPI execution provider"
Add NNAPI execution provider for Android and test it using some compatible model on the device.

[2022-08-09 13:19] ermolenkodev opened #421 "Test Multik ndarrays as a representation of tensors for Android preprocessing"
Test Multik ndarrays as a representation of tensors for Android preprocessing

[2022-08-09 14:13] juliabeliaeva opened #422 "Package "onnx" module as an android library"

[2022-08-26 05:12] #416 closed

[2022-08-29 12:13] ermolenkodev opened #430 "Create module with android specific tests and CI infrastructure for running them"
We need to set up an infrastructure to run android specific tests and cover existing android specific functionality with tests.

[2022-08-29 12:14] ermolenkodev opened #431 "Add Normalization and Rescaling operations for android"
Add Normalization and Rescaling operations for android

[2022-08-29 12:27] ermolenkodev opened #432 "Failed to build sample android application when Api and Dataset modules in dependencies"
A dependency resolution problem related to TensorShape class is probably due to a packages name clash.

Error messages:
[code]

[2022-08-29 12:57] ermolenkodev opened #433 "Research options to add efficient conversions from YUV_422_888 format to ARGB_8888 bitmaps"
Research options to add efficient conversions from YUV_422_888 format to ARGB_8888 bitmaps

[2022-08-30 10:44] ermolenkodev opened #434 "Add support of .inferUsing API for ONNX object detection and other types of models"
Add support for the following syntax

[code]

[2022-08-31 12:16] #420 closed

[2022-09-01 01:40] marcelomourasouza opened #437 "Erro tryng to build"
Im tryng to build dependences of my first project to study KotlinDL, but the mesagem was:

**build.grade**
[code]
**message**
[code]

[2022-09-01 09:45] Reqeique commented on #437
Its probably because you are using different JVM version for the project structure(located `idea/compiler.xml`) and kotlin compile options(inside gradle), I am not sure if the version 8 is supported but I am pretty confident you could workaround the problem by ensuring you have version 11 for both project structure settings and  kotlinc opt, by removing `implementation "org.jetbrains.kotlin:kotlin

[2022-09-01 12:10] #432 closed

[2022-09-02 14:20] ermolenkodev opened #438 "Add classification models to Android onnx models zoo"
Add an initial set of mobile-friendly classification models for an Android ONNX models zoo.

[2022-09-02 14:21] ermolenkodev opened #440 "Add SSD mobilenet to Android onnx models zoo"
Add SSD mobilenet to android models zoo

[2022-09-02 14:22] ermolenkodev opened #441 "Add Face alignment model to Android onnx zoo"
Add mobile friendly Face alignment model to Android onnx zoo

[2022-09-02 14:22] ermolenkodev opened #442 "Add pose detection models to Android onnx zoo"
Add pose detection models to Android onnx zoo

[2022-09-02 14:23] ermolenkodev opened #443 "Add EfficientDet lite to Android onnx model zoo"
Add EfficientDet lite to Android onnx model zoo

[2022-09-02 14:27] ermolenkodev opened #444 "Add Gradle task for downloading models checkpoints during the build"
Add Gradle task for downloading models checkpoints during the build

[2022-09-08 15:26] ermolenkodev opened #447 "Refactoring OnnxInferenceModel to use more type infromation from ONNX api"
Could we figure out which type it is and do a conversion? (maybe not in this pr)

_Originally posted by @juliabeliaeva in https://github.com/Kotlin/kotlindl/pull/446#discussion_r965373065_

[2022-09-09 09:19] #440 closed

[2022-09-09 09:19] #434 closed

[2022-09-15 14:58] #438 closed

[2022-09-20 11:29] #442 closed

[2022-09-20 11:30] #443 closed

[2022-09-20 13:39] Qindows opened #452 "Download"
downloaddownloaddownloaddownloaddownloaddownloaddownloaddownloaddownloaddownloaddownload

[2022-09-21 12:04] #388 closed

[2022-09-21 12:15] #321 closed

[2022-09-21 12:35] ermolenkodev opened #454 "Refactoring targetRotation setter api"

[2022-09-21 12:43] ermolenkodev opened #455 "Research duplicated dependencies of kotlindl-api module"

[2022-09-21 14:06] juliabeliaeva commented on #321
Issue became obsolete since the new more flexible preprocessing dsl was implemented in #425. Dataset api also allows to accept different sources now with the `DataLoader` abstraction introduced in #424.

[2022-09-21 14:09] juliabeliaeva commented on #379
Implemented in #451.

[2022-09-21 14:10] juliabeliaeva commented on #387
Implemented in #425.

[2022-09-21 14:11] juliabeliaeva commented on #388
Implemented in #451.

[2022-09-24 21:15] mbakgun commented on #361
Hi all,
A possible fix comes with onnxruntime version : **1.12.1**
https://github.com/microsoft/onnxruntime/issues/11054

currently org.jetbrains.kotlinx:kotlin-deeplearning-onnx:0.4.0 uses  **1.11.0**

[2022-09-29 05:58] dosier commented on #211
Hey, I'd like to contribute a bit again. Could do this one.

One question I have, in some cases Keras specifies different shapes depending upon the `data_format` being `channels_first` or `channels_last`.  I do see we have this implemented for the `ZeroPadding..` layers but not for any others.

From what I understand the default implementation uses the `channels_last` format.

 **Deep Learning wit

[2022-09-29 15:52] #454 closed

[2022-09-30 15:30] #455 closed

[2022-10-01 10:41] dosier opened #464 "Convert Groovy to Kotlin script for Gradle build scripts"
Is there any reason Groovy is used for the Gradle build scripts?

Since we're probably all Kotlin enthusiasts it would be nice to use it for the Gradle build scripts as well :)

[2022-10-03 06:41] #441 closed

[2022-10-07 16:50] StefanOltmann opened #466 "Split native binaries into their own artifacts"
By using jpackage I build specialized versions of my app for each operating system. I would like to have the option to select in my build process the version I need instead of having a large setup that includes binaries for all operating systems.

Compose Multiplatform did this nicely:

[code]

Please provide something similar.

[2022-10-08 12:10] #358 closed

[2022-10-09 02:28] dosier commented on #58
What are your thoughts on using https://github.com/Kotlin/kotlinx.serialization for implementing a serialisation strategy for the **H5 format**. I could probably make a PR for this. However, one drawback from `kotlinx.serialization` is that it depends upon a compiler Gradle plugin, this will make it incompatible with the new K2 compiler (at least for the next few months). But if this is not a prob

[2022-10-10 12:34] ermolenkodev commented on #421
Currently, it's not possible to replace platform-dependent preprocessing operations with Multik operations because we need to implement low-level image transformations using Multik ndarrays beforehand.

[2022-10-10 12:34] #421 closed

[2022-10-10 16:52] ermolenkodev commented on #437
@marcelomourasouza Is the problem still present?

[2022-10-11 11:12] marcelomourasouza commented on #437
Hi. Yes the problem still present, so I gave up to use the library

[2022-10-11 16:02] ermolenkodev commented on #437
@marcelomourasouza Sorry, I am not able to reproduce it. Could you please provide more information about your setup?
- JVM version and vendor
- OS
- Gradle version

Usually, it's quite hard to reproduce issues with environment configuration. It would be a great help if you could replicate a minimal version of your environment using Docker and share it.

[2022-10-13 10:07] #385 closed

[2022-10-24 13:49] #444 closed

[2022-11-14 10:24] #437 closed

[2022-11-15 07:19] #368 closed

[2022-11-16 02:24] #422 closed

[2022-11-16 03:39] #361 closed